.datenschutz .logo-HoYb9m {
  left: 86px;
}

.datenschutz .logo-4Otmiw {
  left: 25px;
}

.datenschutz .logo-UXRc38 {
  left: 86px;
}

.datenschutz .logo-Wlenlz {
  left: 62px;
}

.datenschutz .shs-montage-express-R9L8K3 {
  height: 25px;
  left: 28px;
  line-height: 30px;
  top: -4px;
  width: 972px;
}

.datenschutz .impressumgobutton-KNDObk {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: calc(100.00% + 1px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.datenschutz .impressumgobutton-KNDObk.bp1-animate-enter {
  animation: bp1-animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .impressumgobutton-KNDObk:hover {
  filter: grayscale(100%);
}

.datenschutz .shs-montage-express-0jxdvR {
  display: block;
  height: 17px;
  left: 18px;
  line-height: 17px;
  opacity: 0;
  top: -1px;
  width: 635px;
}

.datenschutz .shs-montage-express-0jxdvR.bp3-animate-enter {
  animation: bp3-animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .shs-montage-express-DSQn9m {
  display: block;
  height: 18px;
  left: 21px;
  line-height: 15px;
  opacity: 0;
  top: 1px;
  width: calc(100.00% - 51px);
}

.datenschutz .shs-montage-express-DSQn9m.bp2-animate-enter {
  animation: bp2-animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .impressumgobutton-R9L8K3 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  right: calc(18.18% - 26px);
  text-align: left;
  top: -4px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 142px;
}

.datenschutz .impressumgobutton-R9L8K3:hover {
  filter: grayscale(100%);
}

.datenschutz .datenschutzgobutton-KNDObk {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.datenschutz .datenschutzgobutton-KNDObk.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .datenschutzgobutton-KNDObk:hover {
  filter: grayscale(100%);
}

.datenschutz .impressumgobutton-0jxdvR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(18.23% - 18px);
  text-align: left;
  top: 0px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 99px;
}

.datenschutz .impressumgobutton-0jxdvR.bp3-animate-enter1 {
  animation: bp3-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .impressumgobutton-0jxdvR:hover {
  filter: grayscale(100%);
}

.datenschutz .impressumgobutton-DSQn9m {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(21.52% - 19px);
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.datenschutz .impressumgobutton-DSQn9m.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .impressumgobutton-DSQn9m:hover {
  filter: grayscale(100%);
}

.datenschutz .datenschutzgobutton-R9L8K3 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -2px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 172px;
}

.datenschutz .datenschutzgobutton-R9L8K3:hover {
  filter: grayscale(100%);
}

.datenschutz .x-KNDObk {
  height: calc(100.00% + 1px);
  left: calc(46.70% - 5px);
  line-height: 16px;
  top: 0px;
  width: 10px;
}

.datenschutz .x-KNDObk.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .datenschutzgobutton-0jxdvR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 120px;
}

.datenschutz .datenschutzgobutton-0jxdvR.bp3-animate-enter2 {
  animation: bp3-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .datenschutzgobutton-0jxdvR:hover {
  filter: grayscale(100%);
}

.datenschutz .datenschutzgobutton-DSQn9m {
  background-color: transparent;
  bottom: -1px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.datenschutz .datenschutzgobutton-DSQn9m.bp2-animate-enter2 {
  animation: bp2-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .datenschutzgobutton-DSQn9m:hover {
  filter: grayscale(100%);
}

.datenschutz .x-R9L8K3 {
  height: calc(100.00% + 1px);
  line-height: 30px;
  right: calc(28.48% - 4px);
  top: -4px;
  width: 14px;
}

.datenschutz .x-R9L8K3.bp4-animate-enter {
  animation: bp4-animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .x-0jxdvR {
  height: 100%;
  line-height: 18px;
  right: calc(29.02% - 3px);
  top: 0px;
  width: 11px;
}

.datenschutz .x-0jxdvR.bp3-animate-enter3 {
  animation: bp3-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .x-DSQn9m {
  bottom: 1px;
  height: 16px;
  line-height: 16px;
  right: 121px;
  width: 10px;
}

.datenschutz .x-DSQn9m.bp2-animate-enter3 {
  animation: bp2-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .x-zywhVx {
  height: calc(100.00% + 1px);
  line-height: 30px;
  right: 204px;
  top: -4px;
  width: 14px;
}

.datenschutz .x-zywhVx.bp4-animate-enter1 {
  animation: bp4-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .x-WowmLk {
  height: 100%;
  line-height: 18px;
  right: 138px;
  top: 0px;
  width: 11px;
}

.datenschutz .x-WowmLk.bp3-animate-enter4 {
  animation: bp3-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .c-DSQn9m {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: 3px;
  line-height: 16px;
  top: -2px;
  width: 6px;
}

.datenschutz .c-DSQn9m.bp2-animate-enter4 {
  animation: bp2-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .c-R9L8K3 {
  height: 17px;
  left: 4px;
  line-height: 30px;
  top: -6px;
  width: 10px;
}

.datenschutz .c-R9L8K3.bp4-animate-enter2 {
  animation: bp4-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .c-0jxdvR {
  bottom: calc(121.43% - 13px);
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 11px;
  left: 3px;
  line-height: 18px;
  width: 7px;
}

.datenschutz .c-0jxdvR.bp3-animate-enter5 {
  animation: bp3-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .ellipse-12-DSQn9m {
  border-radius: 4.86px/5px;
  height: 10px;
  left: 0px;
  top: 1px;
  width: 10px;
}

.datenschutz .ellipse-12-DSQn9m.bp2-animate-enter5 {
  animation: bp2-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .ellipse-12-R9L8K3 {
  border-radius: 8px;
  height: 16px;
  left: 0px;
  top: 2px;
  width: 16px;
}

.datenschutz .ellipse-12-R9L8K3.bp4-animate-enter3 {
  animation: bp4-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .ellipse-12-0jxdvR {
  border-radius: 5.5px/5px;
  height: 10px;
  left: 0px;
  top: calc(37.49% - 4px);
  width: 11px;
}

.datenschutz .ellipse-12-0jxdvR.bp3-animate-enter6 {
  animation: bp3-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .gruppe-1462-KqxCzi {
  background-color: transparent;
  bottom: 0.67%;
  height: 35px;
  left: calc(50.00% - 168px);
  position: absolute;
  width: 336px;
}

.datenschutz .shs-montage-express-gmb-h-tMgiuw {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(45.74% - 79px);
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 172px;
}

.datenschutz .shs-montage-express-gmb-h-tMgiuw.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .dachmontage-elektrik-tMgiuw {
  background-color: transparent;
  bottom: 0px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz .dachmontage-elektrik-tMgiuw.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .c-tMgiuw {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: calc(24.00% - 1px);
  line-height: 16px;
  top: -3px;
  width: 6px;
}

.datenschutz .c-tMgiuw.bp1-animate-enter5 {
  animation: bp1-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz .ellipse-12-tMgiuw {
  border-radius: 4.86px/5px;
  height: 10px;
  left: calc(23.46% - 2px);
  top: 0px;
  width: 10px;
}

.datenschutz .ellipse-12-tMgiuw.bp1-animate-enter6 {
  animation: bp1-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.datenschutz .rechteck-22-SVsGi2 {
  background-color: var(--sea-mist);
  bottom: 0px;
  height: 128px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.datenschutz .datenschutz-SVsGi2 {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.datenschutz .geltungsbereich-dies-SVsGi2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
}

.datenschutz .gruppe-5-SVsGi2 {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.datenschutz .rechteck-8-HoYb9m {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.datenschutz .zumloginbutton-HoYb9m {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  transition: all 1.5s ease-in-out;
}

.datenschutz .rechteck-1-WZgGtM {
  background-color: var(--bright-yellow);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.datenschutz .login-WZgGtM {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.datenschutz .gruppe-1454-SVsGi2 {
  background-color: transparent;
  position: absolute;
}

.datenschutz .c {
  background-color: transparent;
  display: block;
  letter-spacing: 0.00px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.datenschutz .ellipse-12 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  display: block;
  opacity: 0;
  position: absolute;
}

.datenschutz .logo {
  background-color: transparent;
  height: calc(100.00% - 23px);
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}

.datenschutz .shs-montage-express {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.datenschutz .x {
  background-color: transparent;
  display: block;
  letter-spacing: 0.00px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

@media screen and (min-width: 1920px) {
  .datenschutz {
    min-height: 5151px;
    min-width: 1920px;
  }
  
  .datenschutz .datenschutz-SVsGi2 {
    left: 171px;
    top: 204px;
    width: 213px;
  }
  
  .datenschutz .geltungsbereich-dies-SVsGi2 {
    height: 4637px;
    left: 171px;
    line-height: 28px;
    top: 308px;
    width: calc(100.00% - 311px);
  }
  
  .datenschutz .zumloginbutton-HoYb9m {
    bottom: calc(48.28% - 27px);
    height: 56px;
    right: 152px;
    width: 168px;
  }
  
  .datenschutz .zumloginbutton-HoYb9m:hover {
    transform: translate(0, -5px);
  }
  
  .datenschutz .login-WZgGtM {
    bottom: calc(41.67% - 8px);
    height: 20px;
    line-height: 18px;
    right: calc(49.18% - 23px);
    width: 46px;
  }
  
  .datenschutz .gruppe-1454-SVsGi2 {
    bottom: 0.92%;
    height: 24px;
    left: calc(50.00% - 745px);
    width: 1490px;
  }
  
  .hide-on-1920 {
    display: none !important;
  }
}

@media screen and (max-width: 766px) {
  .datenschutz {
    min-height: 7319px;
    min-width: 375px;
  }
  
  .datenschutz .datenschutz-SVsGi2 {
    left: 36px;
    top: 168px;
    width: 194px;
  }
  
  .datenschutz .geltungsbereich-dies-SVsGi2 {
    height: 6942px;
    left: 36px;
    line-height: 20px;
    top: 272px;
    width: calc(100.00% - 70px);
  }
  
  .datenschutz .zumloginbutton-HoYb9m {
    height: 47px;
    right: 13px;
    top: calc(50.00% - 24px);
    width: 142px;
  }
  
  .datenschutz .zumloginbutton-HoYb9m:hover {
    transform: translate(0, -5px);
  }
  
  .datenschutz .login-WZgGtM {
    bottom: calc(43.33% - 7px);
    color: var(--cod-gray);
    font-family: var(--font-family-helvetica-regular);
    font-size: var(--font-size-xxxs);
    font-style: normal;
    font-weight: 400;
    height: 17px;
    line-height: 15px;
    right: calc(49.04% - 19px);
    width: 38px;
  }
  
  .datenschutz .gruppe-1454-SVsGi2 {
    bottom: 0px;
    height: 15px;
    right: calc(4.66% - 10px);
    width: 225px;
  }
  
  .hide-on-375 {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .datenschutz {
    min-height: 5420px;
    min-width: 1200px;
  }
  
  .datenschutz .datenschutz-SVsGi2 {
    left: 120px;
    top: 204px;
    width: 217px;
  }
  
  .datenschutz .geltungsbereich-dies-SVsGi2 {
    color: var(--woodsmoke);
    font-family: var(--font-family-helvetica-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    height: 4946px;
    left: 120px;
    line-height: 26px;
    top: 308px;
    width: calc(100.00% - 170px);
  }
  
  .datenschutz .zumloginbutton-HoYb9m {
    bottom: calc(48.28% - 27px);
    height: 56px;
    right: 81px;
    width: 168px;
  }
  
  .datenschutz .zumloginbutton-HoYb9m:hover {
    transform: translate(0, -5px);
  }
  
  .datenschutz .login-WZgGtM {
    bottom: calc(41.67% - 8px);
    height: 20px;
    line-height: 18px;
    right: calc(49.18% - 23px);
    width: 46px;
  }
  
  .datenschutz .gruppe-1454-SVsGi2 {
    bottom: 0.56%;
    height: 18px;
    left: calc(50.00% - 480px);
    width: 960px;
  }
  
  .hide-on-1200 {
    display: none !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .datenschutz {
    min-height: 6160px;
    min-width: 767px;
  }
  
  .datenschutz .datenschutz-SVsGi2 {
    left: 87px;
    top: 204px;
    width: 139px;
  }
  
  .datenschutz .geltungsbereich-dies-SVsGi2 {
    color: var(--woodsmoke);
    font-family: var(--font-family-helvetica-regular);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
    height: 5669px;
    left: 87px;
    line-height: 24px;
    top: 308px;
    width: calc(100.00% - 147px);
  }
  
  .datenschutz .zumloginbutton-HoYb9m {
    bottom: calc(48.28% - 27px);
    height: 56px;
    right: 20px;
    width: 168px;
  }
  
  .datenschutz .zumloginbutton-HoYb9m:hover {
    transform: translate(0, -5px);
  }
  
  .datenschutz .login-WZgGtM {
    bottom: calc(41.67% - 8px);
    height: 20px;
    line-height: 18px;
    right: calc(49.18% - 23px);
    width: 46px;
  }
  
  .datenschutz .gruppe-1454-SVsGi2 {
    bottom: 0.22%;
    height: 60px;
    right: calc(35.19% - 256px);
    width: 728px;
  }
  
  .hide-on-767 {
    display: none !important;
  }
}
