  <style>

    .account-balance-container {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 10vh;
      border: solid 1px gray;
      color: white;
      margin: 2vw;
      border-radius: 5px;
    }
    .label {
      position: absolute;
      top: 15%;
      left: 5%;

    }
    .accountId {
      position: absolute;
      bottom: 20%;
      left: 5%;
    }
    .accountBalance {
      position: absolute;
      bottom: 20%;
      right: 10%;
    }
  </style>


  <div class="account-balance-container">
    <p class="label">Kontostand</p>
    <p class="accountId">Laden...</p>
    <p class="accountBalance">0 h</p>
  </div>
