<style>
  .icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    border-top: solid 1px #a11818;
  }
  .material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20vw;
  }
  .first-icon-box,
  .second-icon-box,
  .third-icon-box,
  .fourth-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

</style>

<div class="icon-container">

  <div class="first-icon-box">
    <i class="material-icons first-material-icon">account_balance</i>
    <p class="icon-title">Finanzstatus</p>
  </div>

  <div class="second-icon-box">
    <i class="material-icons second-material-icon">view_week</i>
    <p class="icon-title">Toolbox</p>
  </div>

  <div class="third-icon-box">
    <i class="material-icons third-material-icon">notifications</i>
    <p class="icon-title">Mitteilungen</p>
  </div>

  <div class="fourth-icon-box">
    <i class="material-icons fourth-material-icon">apps</i>
    <p class="icon-title">Mehr</p>
  </div>

</div>
