:root {
  /* fonts */
  --font-forma-djr-micro: "Forma DJR Micro";
  --font-ligurino: Ligurino;
  --font-apple-braille: "Apple Braille";

  /* font sizes */
  --font-size-5xs: 14px;
  --font-size-4xs: 15px;
  --font-size-3xs: 16px;
  --font-size-2xs: 17px;
  --font-size-xs: 19px;
  --font-size-sm: 20px;
  --font-size-base: 23px;
  --font-size-lg: 24px;
  --font-size-xl: 25px;
  --font-size-2xl: 30px;
  --font-size-3xl: 40px;

  /* Colors */
  --color-gray-100: #ebebeb;
  --color-gray-200: #161616;
  --color-gray-300: #0d0d0c;
  --color-gray-400: #080808;
  --color-gray-500: rgba(0, 0, 0, 0.4);
  --color-black: #000;
  --color-green: #006f39;
  --color-white: #fff;
  --color-orange-100: #f7aa20;
  --color-orange-200: #f19d08;

  /* border radiuses */
  --br-sm: 7px;
  --br-md: 10px;
  --br-lg: 15px;
}
