body {
  margin: 0;
  line-height: normal;
}
.account-erstellen {
  position: absolute;
  top: calc(50% - 1254.73px);
  left: 4.63%;
  font-size: var(--font-size-3xl);
  line-height: 37px;
  font-family: var(--font-apple-braille);
  -webkit-text-stroke: 1px #161616;
  opacity: 0.86;
}
.jetzt-zur-bersicht {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 103.5px);
  font-size: var(--font-size-xl);
  line-height: 21px;
  font-family: var(--font-ligurino);
  color: var(--color-gray-400);
  text-align: left;
}
.angeboterhaltenbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-100);
  position: absolute;
  height: calc(100% - 21px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 21px;
  left: 0;
  border-radius: var(--br-md);
}
.angeboterhaltenbutton:hover {
  background-color: var(--color-orange-200);
}
.unverbindliches-und-kostenlose {
  position: absolute;
  bottom: 0;
  left: 14px;
  line-height: 12px;
}
.gruppe-1863 {
  position: absolute;
  top: calc(50% + 1081px);
  left: calc(50% - 175px);
  width: 351px;
  height: 127px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
  font-family: var(--font-ligurino);
}
.logo-icon {
  position: absolute;
  height: calc(100% - 23px);
  top: 11px;
  bottom: 12px;
  left: 86px;
  max-height: 100%;
  width: 101px;
  object-fit: cover;
}
.gruppe-5,
.rechteck-262 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 85px;
}
.rechteck-262 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-green);
  opacity: 0.25;
}
.hausbaujahr {
  position: absolute;
  top: calc(50% - 45px);
  left: 38.91px;
  opacity: 0.9;
}
.gruppe-1774 {
  position: absolute;
  height: 6.01%;
  width: 90.68%;
  top: 11.8%;
  right: 4.66%;
  bottom: 82.18%;
  left: 4.66%;
  opacity: 0.71;
  text-align: center;
  font-size: var(--font-size-2xl);
}
.rechteck-2621 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
}
.hausbaujahr1,
.hausbaujahr2 {
  position: absolute;
  left: 33.91px;
}
.hausbaujahr1 {
  top: calc(50% - 43px);
  opacity: 0.86;
}
.hausbaujahr2 {
  border: 0;
  font-family: var(--font-forma-djr-micro);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: calc(50% + 14px);
  color: var(--color-gray-200);
  text-align: left;
}
.gruppe-1873 {
  position: absolute;
  height: 4.42%;
  width: 90.68%;
  top: 22.01%;
  right: 4.66%;
  bottom: 73.57%;
  left: 4.66%;
  opacity: 0.71;
}
.hausbaujahr3,
.hausbaujahr4 {
  position: absolute;
  left: 32.91px;
}
.hausbaujahr3 {
  top: calc(50% - 34px);
  opacity: 0.86;
}
.hausbaujahr4 {
  border: 0;
  font-family: var(--font-forma-djr-micro);
  font-size: var(--font-size-base);
  background-color: transparent;
  top: calc(50% + 20px);
  color: var(--color-gray-200);
  text-align: left;
}
.gruppe-1874,
.gruppe-1875,
.gruppe-1876 {
  position: absolute;
  height: 4.42%;
  width: 90.68%;
  top: 28.81%;
  right: 4.66%;
  bottom: 66.77%;
  left: 4.66%;
  opacity: 0.71;
}
.gruppe-1875,
.gruppe-1876 {
  top: 35.61%;
  bottom: 59.97%;
}
.gruppe-1876 {
  top: 42.41%;
  bottom: 53.16%;
}
.gruppe-1877,
.gruppe-1878,
.gruppe-1879,
.gruppe-1880,
.gruppe-1881,
.rechteck-26210 {
  position: absolute;
  height: 4.42%;
  width: 90.68%;
  top: 49.22%;
  right: 4.66%;
  bottom: 46.36%;
  left: 4.66%;
  opacity: 0.71;
}
.gruppe-1878,
.gruppe-1879,
.gruppe-1880,
.gruppe-1881,
.rechteck-26210 {
  top: 56.02%;
  bottom: 39.56%;
}
.gruppe-1879,
.gruppe-1880,
.gruppe-1881,
.rechteck-26210 {
  top: 62.82%;
  bottom: 32.76%;
}
.gruppe-1880,
.gruppe-1881,
.rechteck-26210 {
  top: 69.63%;
  bottom: 25.95%;
}
.gruppe-1881,
.rechteck-26210 {
  top: 76.43%;
  bottom: 19.15%;
}
.rechteck-26210 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-green);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 0.59;
}
.hausbaujahr19,
.hausbaujahr20 {
  position: absolute;
  top: calc(50% - 9px);
  left: 48.91px;
  text-transform: uppercase;
}
.hausbaujahr20 {
  left: 207.91px;
}
.gruppe-1883 {
  position: absolute;
  height: 4.84%;
  width: 100%;
  top: 95.16%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.kontaktformular {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2940px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  font-family: var(--font-forma-djr-micro);
}
