:root {
  /* fonts */
  --font-forma-djr-micro: "Forma DJR Micro";
  --font-ligurino: Ligurino;
  --font-helvetica: Helvetica;
  --font-apple-braille: "Apple Braille";
  --font-helvetica-neue: "Helvetica Neue";
  --font-georgia: Georgia;

  /* font sizes */
  --font-size-8xs: 10px;
  --font-size-7xs: 12px;
  --font-size-6xs: 13px;
  --font-size-5xs: 14px;
  --font-size-4xs: 15px;
  --font-size-3xs: 15.5px;
  --font-size-2xs: 16px;
  --font-size-xs: 17px;
  --font-size-sm: 18px;
  --font-size-base: 19px;
  --font-size-lg: 20px;
  --font-size-xl: 21px;
  --font-size-2xl: 22px;
  --font-size-3xl: 23px;
  --font-size-4xl: 24px;
  --font-size-5xl: 25px;
  --font-size-6xl: 27px;
  --font-size-7xl: 28px;
  --font-size-8xl: 30px;
  --font-size-9xl: 33px;
  --font-size-10xl: 35px;
  --font-size-11xl: 40px;

  /* Colors */
  --color-whitesmoke-100: #f7f7f7;
  --color-whitesmoke-200: #ebebeb;
  --color-black: #000;
  --color-seagreen: #006f39;
  --color-white: #fff;
  --color-gray-100: #161616;
  --color-gray-200: #0d0d0c;
  --color-gray-300: #080808;
  --color-gray-400: rgba(0, 0, 0, 0.4);
  --color-orange-100: #f7aa20;
  --color-orange-200: #f19d08;
  --color-orange-300: #ef9300;
  --color-gainsboro-100: #ddddde;
  --color-gainsboro-200: #dbdbdb;
  --color-silver-100: #c6c6c6;
  --color-lightgray-100: #cfd4e2;
  --color-lightgray-200: #d1d0d0;
  --color-lightgray-300: #cecece;
  --color-slateblue: #5e61db;
  --color-forestgreen: #11841e;
  --color-sandybrown: #e8ba68;
  --color-dimgray: #707070;
  --color-powderblue: #bedcce;
  --color-darkred: #930000;

  /* border radiuses */
  --br-sm: 7px;
  --br-md: 10px;
  --br-lg: 15px;
}
