.impressum-375 .impressum-DHh6RZ {
  left: 36px;
  top: 164px;
}

.impressum-375 .impressum-DHh6RZ.bp1-animate-enter {
  animation: bp1-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .impressum-375-EXDK4C {
  background-color: transparent;
  display: block;
  height: 25px;
  left: 171px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 204px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 125px;
}

.impressum-375 .impressum-375-EXDK4C.bp4-animate-enter {
  animation: bp4-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp4-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .impressum-KqxCzi {
  left: 87px;
  top: 204px;
}

.impressum-375 .impressum-KqxCzi.bp2-animate-enter {
  animation: bp2-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .impressum-oaVtER {
  left: 120px;
  top: 204px;
}

.impressum-375 .impressum-oaVtER.bp3-animate-enter {
  animation: bp3-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp3-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .inhaltlich-verantwor-DHh6RZ {
  height: 2131px;
  left: 36px;
  line-height: 20px;
  top: 268px;
  width: calc(100.00% - 70px);
}

.impressum-375 .inhaltlich-verantwor-DHh6RZ.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .inhaltlich-verantwor-EXDK4C {
  height: 1629px;
  left: 171px;
  line-height: 28px;
  top: 308px;
  width: calc(100.00% - 311px);
}

.impressum-375 .inhaltlich-verantwor-EXDK4C.bp4-animate-enter1 {
  animation: bp4-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp4-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .inhaltlich-verantwor-KqxCzi {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 1881px;
  left: 87px;
  line-height: 24px;
  top: 308px;
  width: calc(100.00% - 147px);
}

.impressum-375 .inhaltlich-verantwor-KqxCzi.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .inhaltlich-verantwor-oaVtER {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 1729px;
  left: 120px;
  line-height: 26px;
  top: 308px;
  width: calc(100.00% - 170px);
}

.impressum-375 .inhaltlich-verantwor-oaVtER.bp3-animate-enter1 {
  animation: bp3-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp3-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-375 .logo-QxD6dB {
  left: 25px;
}

.impressum-375 .logo-SQgORH {
  left: 86px;
}

.impressum-375 .logo-4Otmiw {
  left: 62px;
}

.impressum-375 .logo-NUDHo9 {
  left: 86px;
}

.impressum-375 .impressumgobutton-ScmtHM {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: calc(100.00% + 1px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.impressum-375 .impressumgobutton-ScmtHM.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .impressumgobutton-ScmtHM:hover {
  filter: grayscale(100%);
}

.impressum-375 .shs-montage-express-IcORsW {
  height: 25px;
  left: 28px;
  line-height: 30px;
  top: -4px;
  width: 972px;
}

.impressum-375 .shs-montage-express-KNDObk {
  display: block;
  height: 18px;
  left: 21px;
  line-height: 15px;
  opacity: 0;
  top: 1px;
  width: calc(100.00% - 51px);
}

.impressum-375 .shs-montage-express-KNDObk.bp2-animate-enter2 {
  animation: bp2-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .shs-montage-express-rtpPUR {
  display: block;
  height: 17px;
  left: 18px;
  line-height: 17px;
  opacity: 0;
  top: -1px;
  width: 635px;
}

.impressum-375 .shs-montage-express-rtpPUR.bp3-animate-enter2 {
  animation: bp3-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .datenschutzgobutton-ScmtHM {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.impressum-375 .datenschutzgobutton-ScmtHM.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .datenschutzgobutton-ScmtHM:hover {
  filter: grayscale(100%);
}

.impressum-375 .impressum-375gobutton-IcORsW {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  right: calc(18.18% - 26px);
  text-align: left;
  top: -4px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 142px;
}

.impressum-375 .impressum-375gobutton-IcORsW:hover {
  filter: grayscale(100%);
}

.impressum-375 .impressumgobutton-KNDObk {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(21.52% - 19px);
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.impressum-375 .impressumgobutton-KNDObk.bp2-animate-enter3 {
  animation: bp2-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .impressumgobutton-KNDObk:hover {
  filter: grayscale(100%);
}

.impressum-375 .impressumgobutton-rtpPUR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(18.23% - 18px);
  text-align: left;
  top: 0px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 99px;
}

.impressum-375 .impressumgobutton-rtpPUR.bp3-animate-enter3 {
  animation: bp3-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .impressumgobutton-rtpPUR:hover {
  filter: grayscale(100%);
}

.impressum-375 .x-ScmtHM {
  height: calc(100.00% + 1px);
  left: calc(46.70% - 5px);
  line-height: 16px;
  top: 0px;
  width: 10px;
}

.impressum-375 .x-ScmtHM.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .datenschutzgobutton-IcORsW {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -2px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 172px;
}

.impressum-375 .datenschutzgobutton-IcORsW:hover {
  filter: grayscale(100%);
}

.impressum-375 .datenschutzgobutton-KNDObk {
  background-color: transparent;
  bottom: -1px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.impressum-375 .datenschutzgobutton-KNDObk.bp2-animate-enter4 {
  animation: bp2-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .datenschutzgobutton-KNDObk:hover {
  filter: grayscale(100%);
}

.impressum-375 .datenschutzgobutton-rtpPUR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 18px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 120px;
}

.impressum-375 .datenschutzgobutton-rtpPUR.bp3-animate-enter4 {
  animation: bp3-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .datenschutzgobutton-rtpPUR:hover {
  filter: grayscale(100%);
}

.impressum-375 .x-IcORsW {
  height: calc(100.00% + 1px);
  line-height: 30px;
  right: calc(28.48% - 4px);
  top: -4px;
  width: 14px;
}

.impressum-375 .x-IcORsW.bp4-animate-enter2 {
  animation: bp4-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .x-KNDObk {
  bottom: 1px;
  height: 16px;
  line-height: 16px;
  right: 121px;
  width: 10px;
}

.impressum-375 .x-KNDObk.bp2-animate-enter5 {
  animation: bp2-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .x-rtpPUR {
  height: 100%;
  line-height: 18px;
  right: calc(29.02% - 3px);
  top: 0px;
  width: 11px;
}

.impressum-375 .x-rtpPUR.bp3-animate-enter5 {
  animation: bp3-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .x-oPglfH {
  height: calc(100.00% + 1px);
  line-height: 30px;
  right: 204px;
  top: -4px;
  width: 14px;
}

.impressum-375 .x-oPglfH.bp4-animate-enter3 {
  animation: bp4-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .c-KNDObk {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: 3px;
  line-height: 16px;
  top: -2px;
  width: 6px;
}

.impressum-375 .c-KNDObk.bp2-animate-enter6 {
  animation: bp2-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .x-6pMj35 {
  height: 100%;
  line-height: 18px;
  right: 138px;
  top: 0px;
  width: 11px;
}

.impressum-375 .x-6pMj35.bp3-animate-enter6 {
  animation: bp3-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .c-IcORsW {
  height: 17px;
  left: 4px;
  line-height: 30px;
  top: -6px;
  width: 10px;
}

.impressum-375 .c-IcORsW.bp4-animate-enter4 {
  animation: bp4-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .ellipse-12-KNDObk {
  border-radius: 4.86px/5px;
  height: 10px;
  left: 0px;
  top: 1px;
  width: 10px;
}

.impressum-375 .ellipse-12-KNDObk.bp2-animate-enter7 {
  animation: bp2-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .c-rtpPUR {
  bottom: calc(121.43% - 13px);
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 11px;
  left: 3px;
  line-height: 18px;
  width: 7px;
}

.impressum-375 .c-rtpPUR.bp3-animate-enter7 {
  animation: bp3-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .ellipse-12-IcORsW {
  border-radius: 8px;
  height: 16px;
  left: 0px;
  top: 2px;
  width: 16px;
}

.impressum-375 .ellipse-12-IcORsW.bp4-animate-enter5 {
  animation: bp4-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .ellipse-12-rtpPUR {
  border-radius: 5.5px/5px;
  height: 10px;
  left: 0px;
  top: calc(37.49% - 4px);
  width: 11px;
}

.impressum-375 .ellipse-12-rtpPUR.bp3-animate-enter8 {
  animation: bp3-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .gruppe-1462-DHh6RZ {
  background-color: transparent;
  bottom: calc(1.98% - 1px);
  height: 35px;
  left: calc(50.00% - 168px);
  position: absolute;
  width: 336px;
}

.impressum-375 .shs-montage-express-gmb-h-MfaCaY {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(45.74% - 79px);
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 172px;
}

.impressum-375 .shs-montage-express-gmb-h-MfaCaY.bp1-animate-enter5 {
  animation: bp1-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .dachmontage-elektrik-MfaCaY {
  background-color: transparent;
  bottom: 0px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-375 .dachmontage-elektrik-MfaCaY.bp1-animate-enter6 {
  animation: bp1-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .c-MfaCaY {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: calc(24.00% - 1px);
  line-height: 16px;
  top: -3px;
  width: 6px;
}

.impressum-375 .c-MfaCaY.bp1-animate-enter7 {
  animation: bp1-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .ellipse-12-MfaCaY {
  border-radius: 4.86px/5px;
  height: 10px;
  left: calc(23.46% - 2px);
  top: 0px;
  width: 10px;
}

.impressum-375 .ellipse-12-MfaCaY.bp1-animate-enter8 {
  animation: bp1-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-375 .gruppe-5-DHh6RZ {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-375 .rechteck-8-QxD6dB {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-375 .zumloginbutton-QxD6dB {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  transition: all 1.5s ease-in-out;
}

.impressum-375 .rechteck-1-dyIJRm {
  background-color: var(--bright-yellow);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-375 .login-dyIJRm {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.impressum-375 .rechteck-22-DHh6RZ {
  background-color: var(--sea-mist);
  bottom: 0px;
  height: 128px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.impressum-375 .gruppe-1454-DHh6RZ {
  background-color: transparent;
  position: absolute;
}

.impressum-375 .c {
  background-color: transparent;
  display: block;
  letter-spacing: 0.00px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.impressum-375 .ellipse-12 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  display: block;
  opacity: 0;
  position: absolute;
}

.impressum-375 .impressum {
  background-color: transparent;
  display: block;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 125px;
}

.impressum-375 .inhaltlich-verantwor {
  background-color: transparent;
  display: block;
  letter-spacing: 0.00px;
  opacity: 0;
  position: absolute;
  text-align: left;
  transform: translate(0, 25px);
}

.impressum-375 .logo {
  background-color: transparent;
  height: calc(100.00% - 23px);
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}

.impressum-375 .shs-montage-express {
  background-color: transparent;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.impressum-375 .x {
  background-color: transparent;
  display: block;
  letter-spacing: 0.00px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

@media screen and (max-width: 766px) {
  .impressum-375 {
    min-height: 2483px;
    min-width: 375px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB {
    height: 47px;
    right: 13px;
    top: calc(50.00% - 24px);
    width: 142px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB:hover {
    transform: translate(0, -5px);
  }
  
  .impressum-375 .login-dyIJRm {
    bottom: calc(43.33% - 7px);
    color: var(--cod-gray);
    font-family: var(--font-family-helvetica-regular);
    font-size: var(--font-size-xxxs);
    font-style: normal;
    font-weight: 400;
    height: 17px;
    line-height: 15px;
    right: calc(49.04% - 19px);
    width: 38px;
  }
  
  .impressum-375 .gruppe-1454-DHh6RZ {
    bottom: 0.26%;
    height: 15px;
    right: calc(4.66% - 10px);
    width: 225px;
  }
  
  .hide-on-375 {
    display: none !important;
  }
}

@media screen and (min-width: 1920px) {
  .impressum-375 {
    min-height: 2120px;
    min-width: 1920px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB {
    bottom: calc(48.28% - 27px);
    height: 56px;
    right: 152px;
    width: 168px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB:hover {
    transform: translate(0, -5px);
  }
  
  .impressum-375 .login-dyIJRm {
    bottom: calc(41.67% - 8px);
    height: 20px;
    line-height: 18px;
    right: calc(49.18% - 23px);
    width: 46px;
  }
  
  .impressum-375 .gruppe-1454-DHh6RZ {
    bottom: calc(2.24% - 1px);
    height: 24px;
    left: calc(50.00% - 745px);
    width: 1490px;
  }
  
  .hide-on-1920 {
    display: none !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .impressum-375 {
    min-height: 2327px;
    min-width: 767px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB {
    bottom: calc(48.28% - 27px);
    height: 56px;
    right: 20px;
    width: 168px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB:hover {
    transform: translate(0, -5px);
  }
  
  .impressum-375 .login-dyIJRm {
    bottom: calc(41.67% - 8px);
    height: 20px;
    line-height: 18px;
    right: calc(49.18% - 23px);
    width: 46px;
  }
  
  .impressum-375 .gruppe-1454-DHh6RZ {
    bottom: 0.60%;
    height: 60px;
    right: calc(35.19% - 256px);
    width: 728px;
  }
  
  .hide-on-767 {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .impressum-375 {
    min-height: 2160px;
    min-width: 1200px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB {
    bottom: calc(48.28% - 27px);
    height: 56px;
    right: 81px;
    width: 168px;
  }
  
  .impressum-375 .zumloginbutton-QxD6dB:hover {
    transform: translate(0, -5px);
  }
  
  .impressum-375 .login-dyIJRm {
    bottom: calc(41.67% - 8px);
    height: 20px;
    line-height: 18px;
    right: calc(49.18% - 23px);
    width: 46px;
  }
  
  .impressum-375 .gruppe-1454-DHh6RZ {
    bottom: 1.40%;
    height: 18px;
    left: calc(50.00% - 480px);
    width: 960px;
  }
  
  .hide-on-1200 {
    display: none !important;
  }
}
