/* screen - full-project */

.full-project {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 2483px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.full-project .impressum-KqxCzi {
  background-color: transparent;
  display: block;
  height: 25px;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 164px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 116px;
}

.full-project .impressum-KqxCzi.bp1-animate-enter {
  animation: bp1-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.full-project .inhaltlich-verantwor-KqxCzi {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 2131px;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 268px;
  transform: translate(0, 25px);
  width: calc(100.00% - 70px);
}

.full-project .inhaltlich-verantwor-KqxCzi.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.full-project .rechteck-21-KqxCzi {
  background-color: var(--sea-mist);
  border: 0.30000001192092896px solid;
  border-color: var(--celeste);
  bottom: 0px;
  display: block;
  height: 109px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.full-project .rechteck-21-KqxCzi.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .gruppe-1454-KqxCzi {
  background-color: transparent;
  bottom: 0.22%;
  height: 16px;
  position: absolute;
  right: calc(4.66% - 10px);
  width: 225px;
}

.full-project .impressumgobutton-KNDObk {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.full-project .impressumgobutton-KNDObk.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .impressumgobutton-KNDObk:hover {
  filter: grayscale(100%);
}

.full-project .datenschutzgobutton-KNDObk {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.full-project .datenschutzgobutton-KNDObk.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .datenschutzgobutton-KNDObk:hover {
  filter: grayscale(100%);
}

.full-project .x-KNDObk {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 1px);
  left: calc(46.70% - 5px);
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 10px;
}

.full-project .x-KNDObk.bp1-animate-enter5 {
  animation: bp1-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .gruppe-1462-KqxCzi {
  background-color: transparent;
  bottom: calc(1.98% - 1px);
  height: 35px;
  left: calc(50.00% - 168px);
  position: absolute;
  width: 336px;
}

.full-project .shs-montage-express-gmb-h-tMgiuw {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(45.74% - 79px);
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 172px;
}

.full-project .shs-montage-express-gmb-h-tMgiuw.bp1-animate-enter6 {
  animation: bp1-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .dachmontage-elektrik-tMgiuw {
  background-color: transparent;
  bottom: 0px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.full-project .dachmontage-elektrik-tMgiuw.bp1-animate-enter7 {
  animation: bp1-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .c-tMgiuw {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: calc(24.00% - 1px);
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -3px;
  white-space: nowrap;
  width: 6px;
}

.full-project .c-tMgiuw.bp1-animate-enter8 {
  animation: bp1-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .ellipse-12-tMgiuw {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 4.86px/5px;
  display: block;
  height: 10px;
  left: calc(23.46% - 2px);
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 10px;
}

.full-project .ellipse-12-tMgiuw.bp1-animate-enter9 {
  animation: bp1-animate-enter9-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .gruppe-5-KqxCzi {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.full-project .rechteck-8-4Otmiw {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.full-project .angeboterstellenbutton-4Otmiw {
  background-color: transparent;
  cursor: pointer;
  height: 47px;
  pointer-events: auto;
  position: absolute;
  right: 13px;
  top: calc(50.00% - 24px);
  transition: all 1.5s ease-in-out;
  width: 142px;
}

.full-project .angeboterstellenbutton-4Otmiw:hover {
  transform: translate(0, -5px);
}

.full-project .rechteck-1-Hof4oq {
  background-color: var(--bright-yellow);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.full-project .angebot-erstellen-Hof4oq {
  background-color: transparent;
  bottom: calc(42.86% - 8px);
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 19px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 22px);
}

.full-project .logo-4Otmiw {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}
/* screen - impressum */

.impressum {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 2120px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum .rechteck-21-EXDK4C {
  background-color: var(--sea-mist);
  border: 0.30000001192092896px solid;
  border-color: var(--celeste);
  bottom: 0px;
  display: block;
  height: 118px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum .rechteck-21-EXDK4C.bp4-animate-enter {
  animation: bp4-animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .shs-montage-express-EXDK4C {
  background-color: transparent;
  bottom: 48px;
  display: block;
  height: 26px;
  left: 243px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 988px;
}

.impressum .shs-montage-express-EXDK4C.bp4-animate-enter1 {
  animation: bp4-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .impressumgobutton-EXDK4C {
  background-color: transparent;
  bottom: 50px;
  cursor: pointer;
  display: block;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(25.91% - 37px);
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 141px;
}

.impressum .impressumgobutton-EXDK4C.bp4-animate-enter2 {
  animation: bp4-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .impressumgobutton-EXDK4C:hover {
  filter: grayscale(100%);
}

.impressum .datenschutzgobutton-EXDK4C {
  background-color: transparent;
  bottom: 48px;
  cursor: pointer;
  display: block;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: 213px;
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 172px;
}

.impressum .datenschutzgobutton-EXDK4C.bp4-animate-enter3 {
  animation: bp4-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .datenschutzgobutton-EXDK4C:hover {
  filter: grayscale(100%);
}

.impressum .x-EXDK4C {
  background-color: transparent;
  bottom: 48px;
  display: block;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  right: calc(33.19% - 5px);
  text-align: left;
  white-space: nowrap;
  width: 16px;
}

.impressum .x-EXDK4C.bp4-animate-enter4 {
  animation: bp4-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .x-vz007N {
  background-color: transparent;
  bottom: 48px;
  display: block;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  right: calc(21.80% - 3px);
  text-align: left;
  white-space: nowrap;
  width: 16px;
}

.impressum .x-vz007N.bp4-animate-enter5 {
  animation: bp4-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .c-EXDK4C {
  background-color: transparent;
  bottom: 60px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 219px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 10px;
}

.impressum .c-EXDK4C.bp4-animate-enter6 {
  animation: bp4-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .ellipse-12-EXDK4C {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 8px;
  bottom: 53px;
  display: block;
  height: 16px;
  left: 215px;
  opacity: 0;
  position: absolute;
  width: 16px;
}

.impressum .ellipse-12-EXDK4C.bp4-animate-enter7 {
  animation: bp4-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .impressum-EXDK4C {
  background-color: transparent;
  display: block;
  height: 25px;
  left: 171px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 204px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 116px;
}

.impressum .impressum-EXDK4C.bp4-animate-enter8 {
  animation: bp4-animate-enter8-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp4-animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum .inhaltlich-verantwor-EXDK4C {
  background-color: transparent;
  display: block;
  height: 1629px;
  left: 171px;
  letter-spacing: 0.00px;
  line-height: 28px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 308px;
  transform: translate(0, 25px);
  width: calc(100.00% - 311px);
}

.impressum .inhaltlich-verantwor-EXDK4C.bp4-animate-enter9 {
  animation: bp4-animate-enter9-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp4-animate-enter9-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum .gruppe-5-EXDK4C {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum .rechteck-8-SQgORH {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .angeboterstellenbutton-SQgORH {
  background-color: transparent;
  bottom: calc(48.28% - 27px);
  cursor: pointer;
  height: 56px;
  pointer-events: auto;
  position: absolute;
  right: 152px;
  transition: all 1.5s ease-in-out;
  width: 168px;
}

.impressum .angeboterstellenbutton-SQgORH:hover {
  transform: translate(0, -5px);
}

.impressum .rechteck-1-LwIfBF {
  background-color: var(--bright-yellow);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum .angebot-erstellen-LwIfBF {
  background-color: transparent;
  bottom: calc(40.91% - 9px);
  height: 23px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 26px);
}

.impressum .logo-SQgORH {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}
/* screen - impressum-1200 */

.impressum-1200 {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 2160px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1200 .impressum-oaVtER {
  background-color: transparent;
  display: block;
  height: 25px;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 204px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 116px;
}

.impressum-1200 .impressum-oaVtER.bp3-animate-enter {
  animation: bp3-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp3-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-1200 .inhaltlich-verantwor-oaVtER {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 1729px;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: 26px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 308px;
  transform: translate(0, 25px);
  width: calc(100.00% - 170px);
}

.impressum-1200 .inhaltlich-verantwor-oaVtER.bp3-animate-enter1 {
  animation: bp3-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp3-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-1200 .rechteck-21-oaVtER {
  background-color: var(--sea-mist);
  border: 0.30000001192092896px solid;
  border-color: var(--celeste);
  display: block;
  height: 109px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: calc(100.05% - 109px);
  width: 100%;
}

.impressum-1200 .rechteck-21-oaVtER.bp3-animate-enter2 {
  animation: bp3-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .gruppe-1454-oaVtER {
  background-color: transparent;
  bottom: 1.35%;
  height: 18px;
  left: calc(50.00% - 480px);
  position: absolute;
  width: 960px;
}

.impressum-1200 .shs-montage-express-rtpPUR {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 635px;
}

.impressum-1200 .shs-montage-express-rtpPUR.bp3-animate-enter3 {
  animation: bp3-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .impressumgobutton-rtpPUR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(18.23% - 18px);
  text-align: left;
  top: 0px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 99px;
}

.impressum-1200 .impressumgobutton-rtpPUR.bp3-animate-enter4 {
  animation: bp3-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .impressumgobutton-rtpPUR:hover {
  filter: grayscale(100%);
}

.impressum-1200 .datenschutzgobutton-rtpPUR {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 120px;
}

.impressum-1200 .datenschutzgobutton-rtpPUR.bp3-animate-enter5 {
  animation: bp3-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .datenschutzgobutton-rtpPUR:hover {
  filter: grayscale(100%);
}

.impressum-1200 .x-rtpPUR {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  right: calc(28.95% - 3px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 12px;
}

.impressum-1200 .x-rtpPUR.bp3-animate-enter6 {
  animation: bp3-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .x-6pMj35 {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  right: 137px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 12px;
}

.impressum-1200 .x-6pMj35.bp3-animate-enter7 {
  animation: bp3-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .c-rtpPUR {
  background-color: transparent;
  bottom: calc(121.43% - 13px);
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 11px;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 7px;
}

.impressum-1200 .c-rtpPUR.bp3-animate-enter8 {
  animation: bp3-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .ellipse-12-rtpPUR {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 5.5px/5px;
  display: block;
  height: 10px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: calc(37.49% - 4px);
  width: 11px;
}

.impressum-1200 .ellipse-12-rtpPUR.bp3-animate-enter9 {
  animation: bp3-animate-enter9-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .gruppe-5-oaVtER {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-1200 .rechteck-8-NUDHo9 {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1200 .angeboterstellenbutton-NUDHo9 {
  background-color: transparent;
  bottom: calc(48.28% - 27px);
  cursor: pointer;
  height: 56px;
  pointer-events: auto;
  position: absolute;
  right: 81px;
  transition: all 1.5s ease-in-out;
  width: 168px;
}

.impressum-1200 .angeboterstellenbutton-NUDHo9:hover {
  transform: translate(0, -5px);
}

.impressum-1200 .rechteck-1-N98bYc {
  background-color: var(--bright-yellow);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-1200 .angebot-erstellen-N98bYc {
  background-color: transparent;
  bottom: calc(40.91% - 9px);
  height: 23px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 26px);
}

.impressum-1200 .logo-NUDHo9 {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}
/* screen - impressum-767 */

.impressum-767 {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 2327px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-767 .impressum-JqU86S {
  background-color: transparent;
  display: block;
  height: 25px;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 204px;
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 116px;
}

.impressum-767 .impressum-JqU86S.bp2-animate-enter {
  animation: bp2-animate-enter-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-767 .inhaltlich-verantwor-JqU86S {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 1881px;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 308px;
  transform: translate(0, 25px);
  width: calc(100.00% - 147px);
}

.impressum-767 .inhaltlich-verantwor-JqU86S.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 2.00s linear 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-767 .rechteck-21-JqU86S {
  background-color: var(--sea-mist);
  border: 0.30000001192092896px solid;
  border-color: var(--celeste);
  bottom: 0px;
  display: block;
  height: 109px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-767 .rechteck-21-JqU86S.bp2-animate-enter2 {
  animation: bp2-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .gruppe-1454-JqU86S {
  background-color: transparent;
  bottom: 0.60%;
  height: 60px;
  position: absolute;
  right: calc(35.19% - 256px);
  width: 728px;
}

.impressum-767 .shs-montage-express-P6a2mk {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% - 51px);
}

.impressum-767 .shs-montage-express-P6a2mk.bp2-animate-enter3 {
  animation: bp2-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .impressumgobutton-P6a2mk {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(21.52% - 19px);
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.impressum-767 .impressumgobutton-P6a2mk.bp2-animate-enter4 {
  animation: bp2-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .impressumgobutton-P6a2mk:hover {
  filter: grayscale(100%);
}

.impressum-767 .datenschutzgobutton-P6a2mk {
  background-color: transparent;
  bottom: -1px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.impressum-767 .datenschutzgobutton-P6a2mk.bp2-animate-enter5 {
  animation: bp2-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .datenschutzgobutton-P6a2mk:hover {
  filter: grayscale(100%);
}

.impressum-767 .x-P6a2mk {
  background-color: transparent;
  bottom: 0px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  right: 121px;
  text-align: left;
  white-space: nowrap;
  width: 10px;
}

.impressum-767 .x-P6a2mk.bp2-animate-enter6 {
  animation: bp2-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .c-P6a2mk {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -2px;
  white-space: nowrap;
  width: 6px;
}

.impressum-767 .c-P6a2mk.bp2-animate-enter7 {
  animation: bp2-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .ellipse-12-P6a2mk {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 4.86px/5px;
  display: block;
  height: 10px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 10px;
}

.impressum-767 .ellipse-12-P6a2mk.bp2-animate-enter8 {
  animation: bp2-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .gruppe-5-JqU86S {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.impressum-767 .rechteck-8-xctoND {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-767 .angeboterstellenbutton-xctoND {
  background-color: transparent;
  bottom: calc(48.28% - 27px);
  cursor: pointer;
  height: 56px;
  pointer-events: auto;
  position: absolute;
  right: 20px;
  transition: all 1.5s ease-in-out;
  width: 168px;
}

.impressum-767 .angeboterstellenbutton-xctoND:hover {
  transform: translate(0, -5px);
}

.impressum-767 .rechteck-1-jhxSxV {
  background-color: var(--bright-yellow);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-767 .angebot-erstellen-jhxSxV {
  background-color: transparent;
  bottom: calc(40.91% - 9px);
  height: 23px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 26px);
}

.impressum-767 .logo-xctoND {
  background-color: transparent;
  height: calc(100.00% - 23px);
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}
@media screen and (max-width: 766px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
  .screen.full-project { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
  .screen.full-project { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.impressum-1200 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
  .screen.full-project { 
    display: none;
   }
}