:root {
  /* fonts */
  --font-ligurino: Ligurino;
  --font-forma-djr-micro: "Forma DJR Micro";
  --font-apple-braille: "Apple Braille";

  /* font sizes */
  --font-size-base: 20px;

  /* Colors */
  --color-brown-100: #781717;
  --color-black: #000;
}
