body {
  line-height: normal;
}
.kasdjfsadfhasdf {
  position: absolute;
  top: calc(50% - 2416.23px);
  left: 4.63%;
  font-size: var(--font-size-8xl);
  line-height: 37px;
  font-family: var(--font-apple-braille);
  -webkit-text-stroke: 1px #161616;
  opacity: 0.86;
}
.geeigneter-zhlerschrank-verba,
body {
  margin: 0;
}
.dsas {
  position: absolute;
  top: calc(50% - 43px);
  left: 33.91px;
  opacity: 0.86;
}
.stromzaehlerschrankverbaut {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 25px;
  height: 28px;
}
.jhkjkjlh {
  position: absolute;
  width: calc(100% - 72.1px);
  right: 38.55px;
  bottom: 13.99px;
  left: 33.55px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  height: 60px;
  font-size: var(--font-size-3xl);
}
.hitler {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 13.03%;
  right: 4.66%;
  bottom: 84.64%;
  left: 4.66%;
  opacity: 0.71;
}
.dasdsda {
  position: absolute;
  top: calc(50% - 54.5px);
  left: 33.91px;
  opacity: 0.86;
}
.stromplatzzaehlerschrank {
  position: absolute;
  top: calc(50% - 10.96px);
  left: 19.36px;
  width: 25px;
  height: 28px;
}
.adfjsdfasf {
  position: absolute;
  width: calc(100% - 72.1px);
  right: 38.55px;
  bottom: 14.04px;
  left: 33.55px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  height: 60px;
  font-size: var(--font-size-3xl);
}
.geeigneterzaehlerschrank {
  position: absolute;
  height: 3.03%;
  width: 90.68%;
  top: 16.61%;
  right: 4.66%;
  bottom: 80.36%;
  left: 4.66%;
  opacity: 0.71;
}
.stromhauptzaehleranzahl {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 12px;
  height: 28px;
}
.gruppe-1968 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 20.89%;
  right: 4.66%;
  bottom: 76.78%;
  left: 4.66%;
  opacity: 0.71;
}
.stromversorger1 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% - 14px);
  left: 0;
  display: inline-block;
  height: 28px;
}
.stromversorger {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 387px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1955 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 9.45%;
  right: 4.66%;
  bottom: 88.22%;
  left: 4.66%;
  opacity: 0.71;
}
.fsdafjdlasf {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
}
.stromhauptzaehlernummer1 {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
  opacity: 0.56;
}
.stromhauptzaehlernummer {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 128px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1969 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 32.96%;
  right: 4.66%;
  bottom: 64.72%;
  left: 4.66%;
  opacity: 0.71;
}
.stromnebenzaehlernummer {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 115px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1970 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 36.54%;
  right: 4.66%;
  bottom: 61.14%;
  left: 4.66%;
  opacity: 0.71;
}
.fasdfsdf {
  position: absolute;
  height: 96.3%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 3.7%;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
}
.rgert {
  position: absolute;
  top: calc(50% - 45.5px);
  left: 33.91px;
  opacity: 0.86;
}
.stromjahresverbrauch1 {
  position: absolute;
  top: calc(50% - 28px);
  left: 0;
}
.stromjahresverbrauch {
  position: absolute;
  bottom: 0;
  left: 33.91px;
  width: 53px;
  height: 56px;
  font-size: var(--font-size-3xl);
}
.gruppe-1972 {
  position: absolute;
  height: 2.42%;
  width: 90.68%;
  top: 44.55%;
  right: 4.66%;
  bottom: 53.03%;
  left: 4.66%;
  opacity: 0.71;
}
.stromarbeitspreis {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 25px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1974 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 51.71%;
  right: 4.66%;
  bottom: 45.96%;
  left: 4.66%;
  opacity: 0.71;
}
.stromarbeitspreiswaerme {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 23px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1976 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 58.87%;
  right: 4.66%;
  bottom: 38.8%;
  left: 4.66%;
  opacity: 0.71;
}
.stromnebenzaehlerfunktion {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 51px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1973 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 48.13%;
  right: 4.66%;
  bottom: 49.54%;
  left: 4.66%;
  opacity: 0.71;
}
.stromgrundpreis {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 34px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1975 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 55.29%;
  right: 4.66%;
  bottom: 42.38%;
  left: 4.66%;
  opacity: 0.71;
}
.stromagrundpreiswaerme {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 35px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1977 {
  position: absolute;
  height: 2.33%;
  width: 90.68%;
  top: 62.45%;
  right: 4.66%;
  bottom: 35.22%;
  left: 4.66%;
  opacity: 0.71;
}
.kjkl1 {
  position: absolute;
  top: calc(50% - 57.11px);
  left: 33.91px;
  opacity: 0.86;
}
.stromszaehlerkonzeptzusammen {
  position: absolute;
  top: calc(50% + 27.16px);
  left: 33.91px;
  width: 25px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.gruppe-1971 {
  position: absolute;
  height: 3.18%;
  width: 90.68%;
  top: 40.12%;
  right: 4.66%;
  bottom: 56.7%;
  left: 4.66%;
  opacity: 0.71;
}
.bilderupload {
  position: absolute;
  top: calc(50% + 986.51px);
  left: 4.63%;
  font-size: var(--font-size-8xl);
  line-height: 37px;
  font-family: var(--font-apple-braille);
  -webkit-text-stroke: 1px #161616;
  opacity: 0.86;
}
.rechteck-516 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.zhlerschrank {
  position: absolute;
  top: calc(50% - 215.18px);
  left: 2.43%;
  line-height: 37px;
  -webkit-text-stroke: 0.5px #161616;
  opacity: 0.86;
}
.gruppe-1941,
.gruppe-1979 {
  position: absolute;
  height: 9.12%;
  width: 95.34%;
  top: 68.98%;
  right: 2.33%;
  bottom: 21.91%;
  left: 2.33%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-apple-braille);
}
.gruppe-1979 {
  top: 79.21%;
  bottom: 11.67%;
}
.die-zhlernummer-sollte-container,
.kompletter-zhlerschrank-gesa-container {
  position: absolute;
  width: 90.73%;
  top: calc(50% + 1205.15px);
  left: 4.66%;
  font-size: var(--font-size-sm);
  display: inline-block;
  height: 128px;
}
.die-zhlernummer-sollte-container {
  top: calc(50% + 1777.19px);
}
.kflasdfjasdf {
  position: absolute;
  width: calc(100% - 72.1px);
  right: 38.55px;
  bottom: 13.99px;
  left: 33.55px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  height: 60px;
  opacity: 0.76;
}
.hahhaha {
  position: absolute;
  top: calc(50% - 53.48px);
  left: 33.91px;
  opacity: 0.86;
}
.stromzusaetzlicherunterzaehler {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
}
.stromunterzaehlernotwendig {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ksadljflasfj {
  position: absolute;
  top: calc(50% + 27.8px);
  left: 52.91px;
  width: 25px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.fsadfsdf {
  position: absolute;
  height: 2.96%;
  width: 90.68%;
  top: 24.47%;
  right: 4.66%;
  bottom: 72.57%;
  left: 4.66%;
  opacity: 0.71;
}
.vfdsvdfv {
  position: absolute;
  top: calc(50% - 54.38px);
  left: 33.91px;
  opacity: 0.86;
}
.stromwievieleneuezaehler {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 8px;
  height: 28px;
}
.stromwvneuezaehlercontainer {
  position: absolute;
  height: 3.02%;
  width: 90.68%;
  top: 28.69%;
  right: 4.66%;
  bottom: 68.3%;
  left: 4.66%;
  opacity: 0.71;
}
.logo-icon {
  position: absolute;
  height: calc(100% - 166px);
  top: 11px;
  bottom: 155px;
  left: 86px;
  max-height: 100%;
  width: 101px;
  object-fit: cover;
}
.gruppe-5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 228px;
}
.clicktechnischesbutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 41px);
}
.rechteck-226 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.div,
.fss,
.rechteck-226 {
  position: absolute;
}
.div {
  top: 4.48px;
  left: calc(50% - 6px);
}
.fss {
  top: calc(50% - 5.48px);
  left: calc(50% - 24.88px);
  width: 49.75px;
  height: 33.95px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.clicktechnischesknopf {
  position: absolute;
  height: 1.02%;
  width: 4.27%;
  top: 1.99%;
  right: 21.24%;
  bottom: 96.99%;
  left: 74.49%;
  font-size: var(--font-size-3xs);
}
.clickzumsstrombutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 20px);
}
.rechteck-3321 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-green-100);
}
.clickzumstromknopf {
  position: absolute;
  height: 1.02%;
  width: 2.59%;
  top: 1.99%;
  right: 40.71%;
  bottom: 96.99%;
  left: 56.69%;
  font-size: var(--font-size-3xs);
}
.clickzurheizungbutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 27px);
}
.div2 {
  position: absolute;
  top: 4.48px;
  left: calc(50% - 5.5px);
}
.clickzurheizungknopf {
  position: absolute;
  height: 1.02%;
  width: 2.81%;
  top: 1.99%;
  right: 58.06%;
  bottom: 96.99%;
  left: 39.13%;
  font-size: var(--font-size-3xs);
}
.clickzumhausbutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 17.5px);
}
.div3,
.vv {
  position: absolute;
}
.div3 {
  top: 3.48px;
  left: calc(50% - 4px);
}
.vv {
  top: calc(50% - 5.48px);
  left: calc(50% - 24.88px);
  background-color: var(--color-green-100);
  width: 49.75px;
  height: 33.95px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-100);
}
.clickzumhausknopf {
  position: absolute;
  height: 1.02%;
  width: 2.59%;
  top: 1.99%;
  right: 75.6%;
  bottom: 96.99%;
  left: 21.81%;
  font-size: var(--font-size-3xs);
}
.rechteck-2627 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-green-200);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 0.59;
}
.datenschutzv,
.impressum {
  position: absolute;
  top: calc(50% - 4.5px);
  left: 48.91px;
  text-transform: uppercase;
}
.datenschutzv {
  left: 207.91px;
}
.gruppe-1883 {
  position: absolute;
  height: 2.39%;
  width: 100%;
  top: 97.61%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.speichern-und-weiter {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 102px);
  line-height: 21px;
}
.angeboterhaltenbutton {
  position: absolute;
  height: 1.9%;
  width: calc(100% - 103px);
  top: 92.77%;
  right: 51.5px;
  bottom: 5.33%;
  left: 51.5px;
  border-radius: var(--br-md);
  background-color: var(--color-orange-100);
  font-size: var(--font-size-2xl);
  color: var(--color-gray-600);
  font-family: var(--font-ligurino);
}
.angeboterhaltenbutton:hover {
  background-color: var(--color-orange-200);
}
.pfad-801-icon {
  position: absolute;
  top: calc(50% - 42.5px);
  left: calc(50% - 162.5px);
  width: 325px;
  height: 85px;
}
.cloud-upload-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 31.6px;
}
.datei-hier-hochladen {
  position: absolute;
  top: calc(50% - 9.5px);
  right: -1px;
  opacity: 0.86;
}
.fsafdsaf {
  position: absolute;
  top: calc(50% + 4.7px);
  left: calc(50% - 87.66px);
  width: 174.31px;
  height: 31.6px;
}
.stromallezaehlerbildupload,
.stromzaehlerschrankbildupload {
  position: absolute;
  top: calc(50% + 1437.5px);
  left: calc(50% - 162px);
  width: 325px;
  height: 85px;
  font-size: var(--font-size-3xs);
}
.stromallezaehlerbildupload {
  top: calc(50% + 2009.5px);
}
.strom {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 5587px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-forma-djr-micro);
}
