body {
  line-height: normal;
}
.womit-heizen-sie,
body {
  margin: 0;
}
.hausbaujahr {
  position: absolute;
  top: calc(50% - 43px);
  left: 33.91px;
  opacity: 0.86;
}
.heizungheizen {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 71px;
  height: 28px;
}
.womitheizencontainer {
  position: absolute;
  height: 2.22%;
  width: 90.68%;
  top: 9.03%;
  right: 4.66%;
  bottom: 88.74%;
  left: 4.66%;
  opacity: 0.71;
}
.kjfasdfklasdjfa {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
}
.kfsdalfjasdlf {
  position: absolute;
  top: calc(50% - 54.03px);
  left: 33.91px;
  opacity: 0.86;
}
.heizungeintrittzehnmeter {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 46px;
  height: 28px;
}
.kjfkasldfasdf {
  position: absolute;
  width: calc(100% - 72.1px);
  right: 38.55px;
  bottom: 13.99px;
  left: 33.55px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  height: 60px;
  font-size: var(--font-size-3xl);
}
.dchausantrittcontainer {
  position: absolute;
  height: 2.87%;
  width: 90.68%;
  top: 74.01%;
  right: 4.66%;
  bottom: 23.12%;
  left: 4.66%;
  opacity: 0.71;
}
.kfasjdkflasdfk {
  position: absolute;
  top: calc(50% - 54.98px);
  left: 33.91px;
  opacity: 0.86;
}
.heizunggleichesgebaeude {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 25px;
  height: 28px;
}
.modulegleichesdachdcontainer {
  position: absolute;
  height: 2.92%;
  width: 90.68%;
  top: 78.05%;
  right: 4.66%;
  bottom: 19.03%;
  left: 4.66%;
  opacity: 0.71;
}
.kflasdjfkladsjfadsf {
  position: absolute;
  top: calc(50% - 53.3px);
  left: 33.91px;
  opacity: 0.86;
}
.speicherzaehlercontainer {
  position: absolute;
  height: 2.96%;
  width: 90.68%;
  top: 82.18%;
  right: 4.66%;
  bottom: 14.86%;
  left: 4.66%;
  opacity: 0.71;
}
.fsdfasdfas {
  position: absolute;
  top: calc(50% - 53.61px);
  left: 33.91px;
  opacity: 0.86;
}
.speciherzaehlerzehnmcontainer {
  position: absolute;
  height: 2.84%;
  width: 90.68%;
  top: 86.35%;
  right: 4.66%;
  bottom: 10.81%;
  left: 4.66%;
  opacity: 0.71;
}
.heizungwie {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 137px;
  height: 28px;
}
.wieheizensiecontainer {
  position: absolute;
  height: 2.22%;
  width: 90.68%;
  top: 12.46%;
  right: 4.66%;
  bottom: 85.32%;
  left: 4.66%;
  opacity: 0.71;
}
.heizungwarm {
  position: absolute;
  top: calc(50% - 11.01px);
  left: 19.36px;
  width: 132px;
  height: 28px;
}
.wiewarmwassercontainer {
  position: absolute;
  height: 2.22%;
  width: 90.68%;
  top: 19.3%;
  right: 4.66%;
  bottom: 78.47%;
  left: 4.66%;
  opacity: 0.71;
}
.heizungsanlage {
  position: absolute;
  top: calc(50% - 2544.73px);
  left: 4.63%;
  font-size: var(--font-size-8xl);
  line-height: 37px;
  font-family: var(--font-apple-braille);
  -webkit-text-stroke: 1px #161616;
  opacity: 0.86;
}
.fjksadlfjadlskf,
.heizungvorlauf {
  position: absolute;
  top: calc(50% - 14px);
  left: 0;
}
.heizungvorlauf {
  top: calc(50% + 14px);
  left: 33.91px;
  width: 35px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.vorlauftempcontainer {
  position: absolute;
  height: 2.22%;
  width: 90.68%;
  top: 15.88%;
  right: 4.66%;
  bottom: 81.9%;
  left: 4.66%;
  opacity: 0.71;
}
.heizungkosten {
  position: absolute;
  top: calc(50% + 14px);
  left: 33.91px;
  width: 50px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.heizkostencontainer {
  position: absolute;
  height: 2.22%;
  width: 90.68%;
  top: 22.72%;
  right: 4.66%;
  bottom: 75.05%;
  left: 4.66%;
  opacity: 0.71;
}
.bilderupload {
  position: absolute;
  top: calc(50% - 1374.31px);
  left: 4.63%;
  font-size: var(--font-size-8xl);
  line-height: 37px;
  font-family: var(--font-apple-braille);
  -webkit-text-stroke: 1px #161616;
  opacity: 0.86;
}
.rechteck-516 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.aufstellungsort-wrmepumpe {
  position: absolute;
  top: calc(50% - 215.18px);
  left: 2.43%;
  line-height: 37px;
  -webkit-text-stroke: 0.5px #161616;
  opacity: 0.86;
}
.gruppe-1941,
.gruppe-1956,
.gruppe-1957 {
  position: absolute;
  height: 8.72%;
  width: 95.34%;
  top: 27.74%;
  right: 2.33%;
  bottom: 63.54%;
  left: 2.33%;
  font-size: var(--font-size-7xl);
  font-family: var(--font-apple-braille);
}
.gruppe-1956,
.gruppe-1957 {
  top: 37.84%;
  bottom: 53.44%;
}
.gruppe-1957 {
  top: 47.94%;
  bottom: 43.35%;
}
.gruppe-1960 {
  position: absolute;
  height: 13.21%;
  width: 97.67%;
  top: 59.76%;
  right: 1.16%;
  bottom: 27.03%;
  left: 1.16%;
}
.die-wrmepumpe-wird-container,
.eventuell-ort-des,
.in-der-nhe {
  position: absolute;
  width: 90.73%;
  top: calc(50% - 1155.66px);
  left: 4.66%;
  font-size: var(--font-size-sm);
  display: inline-block;
  height: 128px;
}
.eventuell-ort-des,
.in-der-nhe {
  top: calc(50% - 565.66px);
}
.in-der-nhe {
  top: calc(50% + 24.34px);
}
.in-welcher-etage-container,
.mir-ist-bekannt {
  position: absolute;
  font-size: var(--font-size-xs);
  line-height: 22px;
  display: inline-block;
  opacity: 0.8;
}
.mir-ist-bekannt {
  height: 1.63%;
  width: calc(100% - 88.9px);
  top: 58.41%;
  left: 45.18px;
}
.in-welcher-etage-container {
  width: 95.37%;
  top: calc(50% + 646.6px);
  left: 3.74%;
  height: 155px;
}
.rechteck-522 {
  position: absolute;
  top: calc(50% - 13.5px);
  left: 0;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 27px;
  height: 27px;
}
.traufhoeheviermetercheckbox {
  position: absolute;
  top: calc(50% + 447.6px);
  left: 44.73px;
  width: 27px;
  height: 27px;
}
.ja-das-ist {
  position: absolute;
  top: calc(50% + 447.1px);
  left: 85.18px;
  font-size: var(--font-size-3xl);
  line-height: 22px;
  opacity: 0.8;
}
.rechteck-480 {
  position: absolute;
  bottom: 0;
  left: 7.89px;
  background-color: var(--color-tan-100);
  width: 283px;
  height: 313.71px;
}
.pfad-780-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 298.79px;
  height: 115.79px;
}
.etage {
  position: absolute;
  top: calc(50% - 65.03px);
  right: 28px;
  font-size: var(--font-size-5xs);
}
.etage1 {
  top: calc(50% + 12.94px);
  right: 29px;
}
.erdgeschoss,
.etage1,
.keller {
  position: absolute;
  font-size: var(--font-size-5xs);
}
.erdgeschoss {
  top: calc(50% + 91.86px);
  right: -1px;
}
.keller {
  right: 41px;
  bottom: 30.28px;
}
.linie-149 {
  top: calc(50% - 18.53px);
}
.linie-149,
.linie-1491,
.linie-1492 {
  position: absolute;
  left: 7.64px;
  border-top: 0.7px solid var(--color-black);
  box-sizing: border-box;
  width: 283.23px;
  height: 1.4px;
}
.linie-1491 {
  top: calc(50% + 58.02px);
}
.linie-1492 {
  bottom: 78.77px;
}
.fds,
.fds1 {
  position: absolute;
  top: calc(50% - 85.67px);
  left: calc(50% - 121.35px);
  opacity: 0.86;
}
.fds1 {
  top: calc(50% - 6.49px);
}
.fds2 {
  top: calc(50% + 72.01px);
}
.fds2,
.fds3,
.fds4 {
  position: absolute;
  left: calc(50% - 121.35px);
  opacity: 0.86;
}
.fds3 {
  bottom: 49.18px;
}
.fds4 {
  top: calc(50% - 47.13px);
}
.fds5 {
  top: calc(50% + 32.05px);
}
.fds5,
.fds6,
.fds7 {
  position: absolute;
  left: calc(50% - 121.35px);
  opacity: 0.86;
}
.fds6 {
  top: calc(50% + 110.55px);
}
.fds7 {
  bottom: 10.64px;
}
.gruppe-1958 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.speicherdritteetagecheckbox,
.speicherzweiteetagecheckbox {
  position: absolute;
  top: calc(50% - 91.19px);
  left: 27.65px;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 25.52px;
  height: 25.52px;
}
.speicherzweiteetagecheckbox {
  top: calc(50% - 11.8px);
}
.speichererdgeschosscheckbox {
  top: calc(50% + 64.76px);
}
.speichererdgeschosscheckbox,
.speicherkellercheckbox,
.zaehlerdritteetagecheckbox {
  position: absolute;
  left: 27.65px;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 25.52px;
  height: 25.52px;
}
.speicherkellercheckbox {
  bottom: 45.08px;
}
.zaehlerdritteetagecheckbox {
  top: calc(50% - 51.49px);
}
.zaehlerzweiteetagecheckbox {
  top: calc(50% + 27.9px);
}
.zaehlererdgeschosscheckbox,
.zaehlerkellercheckbox,
.zaehlerzweiteetagecheckbox {
  position: absolute;
  left: 27.65px;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 25.52px;
  height: 25.52px;
}
.zaehlererdgeschosscheckbox {
  top: calc(50% + 104.45px);
}
.zaehlerkellercheckbox {
  bottom: 5.39px;
}
.gruppe-1959 {
  position: absolute;
  top: calc(50% + 826.54px);
  left: calc(50% - 189.39px);
  width: 372.79px;
  height: 429.49px;
  font-size: var(--font-size-4xs);
}
.logo-icon {
  position: absolute;
  height: calc(100% - 166px);
  top: 11px;
  bottom: 155px;
  left: 86px;
  max-height: 100%;
  width: 101px;
  object-fit: cover;
}
.gruppe-5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 228px;
}
.clicktechnischesbutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 41px);
}
.rechteck-226 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.div,
.fss,
.rechteck-226 {
  position: absolute;
}
.div {
  top: 4.48px;
  left: calc(50% - 6px);
}
.fss {
  top: calc(50% - 5.48px);
  left: calc(50% - 24.88px);
  width: 49.75px;
  height: 33.95px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.clicktechnischesknopf {
  position: absolute;
  height: 0.97%;
  width: 4.27%;
  top: 1.9%;
  right: 21.24%;
  bottom: 97.13%;
  left: 74.49%;
  font-size: var(--font-size-3xs);
}
.clickzumsstrombutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 20px);
}
.clickzumstromknopf {
  position: absolute;
  height: 0.97%;
  width: 2.59%;
  top: 1.9%;
  right: 40.71%;
  bottom: 97.13%;
  left: 56.69%;
  font-size: var(--font-size-3xs);
}
.clickzurheizungbutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 27px);
}
.rechteck-3322 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-green-100);
}
.div2 {
  position: absolute;
  top: 4.48px;
  left: calc(50% - 5.5px);
}
.clickzurheizungknopf {
  position: absolute;
  height: 0.97%;
  width: 2.81%;
  top: 1.9%;
  right: 58.06%;
  bottom: 97.13%;
  left: 39.13%;
  font-size: var(--font-size-3xs);
}
.clickzumhausbutton {
  position: absolute;
  top: calc(50% - 28.48px);
  left: calc(50% - 17.5px);
}
.div3,
.vv {
  position: absolute;
}
.div3 {
  top: 3.48px;
  left: calc(50% - 4px);
}
.vv {
  top: calc(50% - 5.48px);
  left: calc(50% - 24.88px);
  background-color: var(--color-green-100);
  width: 49.75px;
  height: 33.95px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-100);
}
.clickzumhausknopf {
  position: absolute;
  height: 0.97%;
  width: 2.59%;
  top: 1.9%;
  right: 75.6%;
  bottom: 97.13%;
  left: 21.81%;
  font-size: var(--font-size-3xs);
}
.rechteck-2621 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-green-200);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 0.59;
}
.datenschutzv,
.impressum {
  position: absolute;
  top: calc(50% - 9px);
  left: 48.91px;
  text-transform: uppercase;
}
.datenschutzv {
  left: 207.91px;
}
.gruppe-1883 {
  position: absolute;
  height: 2.44%;
  width: 100%;
  top: 97.56%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.speichern-und-weiter {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 102px);
  line-height: 21px;
}
.angeboterhaltenbutton {
  position: absolute;
  height: 1.81%;
  width: calc(100% - 103px);
  top: 92.93%;
  right: 51.5px;
  bottom: 5.25%;
  left: 51.5px;
  border-radius: var(--br-md);
  background-color: var(--color-orange-100);
  font-size: var(--font-size-2xl);
  color: var(--color-gray-600);
  font-family: var(--font-ligurino);
}
.angeboterhaltenbutton:hover {
  background-color: var(--color-orange-200);
}
.pfad-801-icon {
  position: absolute;
  top: calc(50% - 42.5px);
  left: calc(50% - 162.5px);
  width: 325px;
  height: 85px;
}
.cloud-upload-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 31.6px;
}
.datei-hier-hochladen {
  position: absolute;
  top: calc(50% - 9.5px);
  right: -1px;
  opacity: 0.86;
}
.kfldafks {
  position: absolute;
  top: calc(50% + 4.7px);
  left: calc(50% - 87.66px);
  width: 174.31px;
  height: 31.6px;
}
.heizungstromspeicherbildupload,
.heizungwaermepumpebildupload,
.heizungwasserspeicherbilduploa {
  position: absolute;
  top: calc(50% - 943px);
  left: calc(50% - 162px);
  width: 325px;
  height: 85px;
  font-size: var(--font-size-3xs);
}
.heizungstromspeicherbildupload,
.heizungwasserspeicherbilduploa {
  top: calc(50% - 353px);
}
.heizungstromspeicherbildupload {
  top: calc(50% + 237px);
}
.heizung {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 5844px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-family: var(--font-forma-djr-micro);
}
@media screen and (max-width: 768px) {
  .in-welcher-etage-container,
  .mir-ist-bekannt {
    height: 80px;
  }
}
