/* screen - bereit-1 */

.bereit-1 {
  background-color: var(--cararra);
  height: 1350px;
  position: relative;
  width: 1920px;
}

.bereit-1 .solar-energy-ge5248679e_1920 {
  height: 1265px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 1920px;
}

.bereit-1 .overlap-group1 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 1232px;
  width: 1920px;
}

.bereit-1 .rechteck-21 {
  background-color: var(--sea-mist);
  border: 0.3px solid;
  border-color: var(--celeste2);
  height: 118px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.bereit-1 .rechteck-21.animate-enter {
  animation: animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .gruppe-1569 {
  height: 24px;
  left: 215px;
  position: absolute;
  top: 42px;
  width: 1492px;
}

.bereit-1 .shs-montage-express {
  left: 28px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: -3px;
  white-space: nowrap;
}

.bereit-1 .shs-montage-express.animate-enter1 {
  animation: animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .impressum {
  cursor: pointer;
  left: 1103px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: -4px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
}

.bereit-1 .impressum.animate-enter2 {
  animation: animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .impressum:hover {
  filter: grayscale(100%);
}

.bereit-1 .datenschutz {
  cursor: pointer;
  left: 1320px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
}

.bereit-1 .datenschutz.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .datenschutz:hover {
  filter: grayscale(100%);
}

.bereit-1 .text-1 {
  left: 1057px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: -3px;
  white-space: nowrap;
}

.bereit-1 .text-1.animate-enter4 {
  animation: animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .text-2 {
  left: 1274px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: -3px;
  white-space: nowrap;
}

.bereit-1 .text-2.animate-enter5 {
  animation: animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .overlap-group {
  height: 24px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 16px;
}

.bereit-1 .c {
  left: 4px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.bereit-1 .c.animate-enter6 {
  animation: animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .ellipse-12 {
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 8px;
  height: 16px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 8px;
  width: 16px;
}

.bereit-1 .ellipse-12.animate-enter7 {
  animation: animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.bereit-1 .overlap-group2 {
  background-image: url(../img/pfad-49@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 760px;
  left: 193px;
  position: absolute;
  top: 343px;
  width: 1534px;
}

.bereit-1 .um-ein-individuelles {
  height: 192px;
  left: 337px;
  letter-spacing: 0;
  line-height: 37px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 862px;
}

.bereit-1 .gruppe-1568 {
  height: 228px;
  left: 441px;
  position: absolute;
  top: 389px;
  width: 246px;
}

.bereit-1 .overlap-group-1 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 4px #00000029;
  height: 166px;
  left: 0;
  position: absolute;
  top: 0;
  width: 246px;
}

.bereit-1 .gruppe-maskieren-5 {
  height: 146px;
  left: 51px;
  position: relative;
  top: 12px;
  width: 145px;
}

.bereit-1 .page-1 {
  background-image: url(../img/check2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 102px;
  left: 6px;
  position: relative;
  top: 28px;
  width: 127px;
}

.bereit-1 .ja-ich-bin-bereit {
  left: 31px;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.86;
  position: absolute;
  top: 200px;
  white-space: nowrap;
}

.bereit-1 .gruppe-1567 {
  height: 259px;
  left: 848px;
  position: absolute;
  top: 389px;
  width: 246px;
}

.bereit-1 .gruppe-1493 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 4px #00000029;
  height: 166px;
  left: 0;
  position: absolute;
  top: 0;
  width: 246px;
}

.bereit-1 .overlap-group-2 {
  background-image: url(../img/linie-33@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 104px;
  left: 66px;
  position: relative;
  top: 36px;
  width: 112px;
}

.bereit-1 .linie-34 {
  height: 104px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 112px;
}

.bereit-1 .nein-das-ist-mir-zu-aufwendig {
  left: 18px;
  letter-spacing: 0;
  line-height: 25px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: 203px;
  white-space: nowrap;
}

.bereit-1 .erstellen-sie-sich-e {
  height: 73px;
  left: 530px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: 222px;
  width: 905px;
}

.bereit-1 .jetzt-unabhngig-von {
  left: 291px;
  letter-spacing: 0;
  line-height: 88px;
  opacity: 0;
  position: absolute;
  top: 137px;
  transform: translate(0, 25px);
  white-space: nowrap;
}

.bereit-1 .jetzt-unabhngig-von.animate-enter8 {
  animation: animate-enter8-frames 0.80s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.bereit-1 .gruppe-5 {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 85px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}

.bereit-1 .logo {
  cursor: pointer;
  height: 62px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}
