:root { 
  --black2: #000000;
  --cararra: #ebebeb;
  --celeste2: #cecece;
  --fun-green: #006f39;
  --hunter-green: #161616;
  --sea-mist: #bedcce;
  --white: #ffffff;
  --woodsmoke: #0d0d0c;
 
  --font-size-l: 45px;
  --font-size-m2: 15px;
  --font-size-xxxl: 25px;
  --font-size-xxxl2: 23px;
 
  --font-family-applebraille-regular: "AppleBraille-Regular", Helvetica;
  --font-family-formadjr_micro-regular: "FormaDJR Micro-Regular", Helvetica;
  --font-family-ligurino: "Ligurino", Helvetica;
  --font-family-ligurino-bold: "Ligurino-Bold", Helvetica;
}
.applebraille-regular-normal-woodsmoke-23px {
  color: var(--woodsmoke);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 400;
}

.applebraille-regular-normal-hunter-green-25px {
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.formadjrmicro-regular-normal-hunter-green-25px {
  color: var(--hunter-green);
  font-family: var(--font-family-formadjr_micro-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-black-45px {
  color: var(--black2);
  font-family: var(--font-family-ligurino-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.applebraille-regular-normal-woodsmoke-15px {
  color: var(--woodsmoke);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-black-45px-2 {
  color: var(--black2);
  font-family: var(--font-family-ligurino);
  font-size: var(--font-size-l);
}

.ligurino-bold-fun-green-45px {
  color: var(--fun-green);
  font-family: var(--font-family-ligurino-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
