/* screen - full-project */

.full-project {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 1350px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.full-project .solar-energy-ge5248679e_1920-KqxCzi {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 100%;
}

.full-project .erstellen-sie-sich-e-KqxCzi {
  background-color: transparent;
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 73px;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: calc(17.82% - 13px);
  width: calc(100.00% - 295px);
}

.full-project .jetzt-unabhngig-von-KqxCzi {
  background-color: transparent;
  color: var(--black);
  display: block;
  font-family: var(--font-family-ligurino);
  font-size: 33px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.00px;
  line-height: 88px;
  opacity: 0;
  position: absolute;
  right: calc(49.67% - 447px);
  text-align: left;
  top: calc(10.76% - 4px);
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 900px;
}

.full-project .span0-vM9bvU {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.full-project .span1-vM9bvU {
  color: var(--fun-green);
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.full-project .span2-vM9bvU {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.full-project .jetzt-unabhngig-von-KqxCzi.bp3-animate-enter {
  animation: bp3-animate-enter-frames 0.80s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp3-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.full-project .gruppe-5-KqxCzi {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.full-project .rechteck-8-4Otmiw {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.full-project .logo-4Otmiw {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 23px);
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}

.full-project .funnel-placeholder-KqxCzi {
  background-color: transparent;
  bottom: calc(37.35% - 277px);
  height: 742px;
  left: 54px;
  position: absolute;
  width: calc(100.00% - 107px);
}

.full-project .funnel-placeholder-jhpISo {
  background-color: transparent;
  height: 742px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 371px);
  width: 100%;
}

.full-project .gruppe-1751-KqxCzi {
  background-color: transparent;
  bottom: calc(42.97% - 210px);
  height: 489px;
  left: calc(45.74% - 447px);
  position: absolute;
  width: 977px;
}

.full-project .gruppe-1752-SlTtrY {
  background-color: transparent;
  bottom: 59px;
  height: 115px;
  position: absolute;
  right: 0px;
  width: 647px;
}

.full-project .xx-kgFgP8 {
  background-color: var(--cararra);
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.full-project .plzinputfeld-kgFgP8 {
  background-color: transparent;
  height: 25px;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.43;
  position: absolute;
  text-align: center;
  top: calc(43.33% - 11px);
  white-space: nowrap;
  width: 132px;
}

.full-project .wo-soll-die-photovol-SlTtrY {
  background-color: transparent;
  height: 40px;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: -6px;
  white-space: nowrap;
  width: calc(100.00% - 115px);
}

.full-project .x761384_germany30-SlTtrY {
  background-color: transparent;
  bottom: 0px;
  height: 349px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 248px;
}

.full-project .prfen-sie-sofort-ob-SlTtrY {
  background-color: transparent;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: 41px;
  text-align: left;
  top: calc(48.26% - 14px);
  white-space: nowrap;
  width: 606px;
}

.full-project .preufeninputfeld-SlTtrY {
  background-color: transparent;
  bottom: 59px;
  height: 115px;
  position: absolute;
  right: 0px;
  width: 194px;
}

.full-project .plzpruefeninput-GyRkMc {
  background-color: var(--bright-yellow);
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.full-project .prfen-GyRkMc {
  background-color: transparent;
  bottom: calc(44.94% - 16px);
  height: 36px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(48.54% - 44px);
  text-align: left;
  white-space: nowrap;
  width: 91px;
}

.full-project .c-KqxCzi {
  background-color: transparent;
  bottom: 64px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 219px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 10px;
}

.full-project .c-KqxCzi.bp3-animate-enter1 {
  animation: bp3-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .ellipse-12-KqxCzi {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 8px;
  bottom: 58px;
  display: block;
  height: 16px;
  left: 215px;
  opacity: 0;
  position: absolute;
  width: 16px;
}

.full-project .ellipse-12-KqxCzi.bp3-animate-enter2 {
  animation: bp3-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .rechteck-21-KqxCzi {
  background-color: #bedcce;
  border: 0.30000001192092896px solid;
  border-color: #cecece;
  bottom: 0px;
  display: block;
  height: 109px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.full-project .rechteck-21-KqxCzi.bp3-animate-enter3 {
  animation: bp3-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .gruppe-1454-KqxCzi {
  background-color: transparent;
  bottom: 2.25%;
  height: 18px;
  left: calc(50.00% - 480px);
  position: absolute;
  width: 960px;
}

.full-project .shs-montage-express-KNDObk {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 635px;
}

.full-project .shs-montage-express-KNDObk.bp3-animate-enter4 {
  animation: bp3-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .impressum-KNDObk {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(18.23% - 18px);
  text-align: left;
  top: 0px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 99px;
}

.full-project .impressum-KNDObk.bp3-animate-enter5 {
  animation: bp3-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .impressum-KNDObk:hover {
  filter: grayscale(100%);
}

.full-project .datenschutz-KNDObk {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 120px;
}

.full-project .datenschutz-KNDObk.bp3-animate-enter6 {
  animation: bp3-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .datenschutz-KNDObk:hover {
  filter: grayscale(100%);
}

.full-project .x-KNDObk {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  right: calc(28.95% - 3px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 12px;
}

.full-project .x-KNDObk.bp3-animate-enter7 {
  animation: bp3-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .x-htYxmi {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  right: 137px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 12px;
}

.full-project .x-htYxmi.bp3-animate-enter8 {
  animation: bp3-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .c-KNDObk {
  background-color: transparent;
  bottom: calc(121.43% - 13px);
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  height: 11px;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 7px;
}

.full-project .c-KNDObk.bp3-animate-enter9 {
  animation: bp3-animate-enter9-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .ellipse-12-KNDObk {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 5.5px/5px;
  display: block;
  height: 10px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: calc(37.49% - 4px);
  width: 11px;
}

.full-project .ellipse-12-KNDObk.bp3-animate-enter10 {
  animation: bp3-animate-enter10-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter10-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}
/* screen - plzabfragen */

.plzabfragen {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 1350px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.plzabfragen .solar-energy-ge5248679e_1920-INuN8Y {
  background-color: transparent;
  height: calc(100.00% - 85px);
  left: 0px;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 100%;
}

.plzabfragen .pfad-776-INuN8Y {
  background-color: transparent;
  bottom: 0px;
  height: 118px;
  left: 0px;
  object-fit: cover;
  position: fixed;
  width: 100%;
}

.plzabfragen .shs-montage-express-INuN8Y {
  background-color: transparent;
  bottom: 53px;
  display: block;
  height: 26px;
  left: 243px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: fixed;
  text-align: left;
  white-space: nowrap;
  width: 988px;
}

.plzabfragen .shs-montage-express-INuN8Y.bp4-animate-enter {
  animation: bp4-animate-enter-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .impressum-INuN8Y {
  background-color: transparent;
  bottom: 54px;
  cursor: pointer;
  display: block;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  pointer-events: auto;
  position: fixed;
  right: calc(25.91% - 37px);
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 141px;
}

.plzabfragen .impressum-INuN8Y.bp4-animate-enter1 {
  animation: bp4-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .impressum-INuN8Y:hover {
  filter: grayscale(100%);
}

.plzabfragen .datenschutz-INuN8Y {
  background-color: transparent;
  bottom: 54px;
  cursor: pointer;
  display: block;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  pointer-events: auto;
  position: fixed;
  right: 213px;
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 172px;
}

.plzabfragen .datenschutz-INuN8Y.bp4-animate-enter2 {
  animation: bp4-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .datenschutz-INuN8Y:hover {
  filter: grayscale(100%);
}

.plzabfragen .x-INuN8Y {
  background-color: transparent;
  bottom: 53px;
  display: block;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: fixed;
  right: calc(33.19% - 5px);
  text-align: left;
  white-space: nowrap;
  width: 16px;
}

.plzabfragen .x-INuN8Y.bp4-animate-enter3 {
  animation: bp4-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .x-KnPjiq {
  background-color: transparent;
  bottom: 53px;
  display: block;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: fixed;
  right: calc(21.80% - 3px);
  text-align: left;
  white-space: nowrap;
  width: 16px;
}

.plzabfragen .x-KnPjiq.bp4-animate-enter4 {
  animation: bp4-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .c-INuN8Y {
  background-color: transparent;
  bottom: 64px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 219px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: fixed;
  text-align: left;
  white-space: nowrap;
  width: 10px;
}

.plzabfragen .c-INuN8Y.bp4-animate-enter5 {
  animation: bp4-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .ellipse-12-INuN8Y {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 8px;
  bottom: 58px;
  display: block;
  height: 16px;
  left: 215px;
  opacity: 0;
  position: fixed;
  width: 16px;
}

.plzabfragen .ellipse-12-INuN8Y.bp4-animate-enter6 {
  animation: bp4-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen .pfad-49-INuN8Y {
  background-color: transparent;
  bottom: calc(41.87% - 318px);
  height: 760px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 296px);
}

.plzabfragen .wo-soll-die-photovol-INuN8Y {
  background-color: transparent;
  height: 40px;
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.86;
  position: absolute;
  right: calc(49.91% - 430px);
  text-align: center;
  top: calc(33.82% - 14px);
  white-space: nowrap;
  width: 862px;
}

.plzabfragen .erstellen-sie-sich-e-INuN8Y {
  background-color: transparent;
  height: 73px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0.86;
  position: absolute;
  right: calc(47.78% - 432px);
  text-align: center;
  top: calc(17.35% - 13px);
  width: 905px;
}

.plzabfragen .jetzt-unabhngig-von-INuN8Y {
  background-color: transparent;
  color: var(--black);
  display: block;
  font-family: var(--font-family-ligurino);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 54px;
  left: calc(41.99% - 515px);
  letter-spacing: 0.00px;
  line-height: 88px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 137px;
  transform: translate(-25px, 0);
  white-space: nowrap;
  width: 1227px;
}

.plzabfragen .span0-yRSZxl {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen .span1-yRSZxl {
  color: var(--fun-green);
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen .span2-yRSZxl {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen .jetzt-unabhngig-von-INuN8Y.bp4-animate-enter7 {
  animation: bp4-animate-enter7-frames 3.00s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp4-animate-enter7-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plzabfragen .gruppe-5-INuN8Y {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.plzabfragen .rechteck-8-jW8TjH {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plzabfragen .logo-jW8TjH {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 23px);
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 101px;
}

.plzabfragen .x761384_germany30-INuN8Y {
  background-color: transparent;
  bottom: calc(41.16% - 144px);
  height: 349px;
  left: calc(23.68% - 59px);
  object-fit: cover;
  position: absolute;
  width: 248px;
}

.plzabfragen .xx-INuN8Y {
  background-color: var(--cararra);
  border-radius: 0px 10px 10px 0px;
  bottom: calc(38.14% - 44px);
  height: 115px;
  position: absolute;
  right: calc(38.26% - 248px);
  width: 647px;
}

.plzabfragen .prfen-sie-sofort-ob-INuN8Y {
  background-color: transparent;
  bottom: calc(49.21% - 14px);
  height: 29px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(40.18% - 244px);
  text-align: left;
  white-space: nowrap;
  width: 606px;
}

.plzabfragen .preufeninputfeld-INuN8Y {
  background-color: transparent;
  bottom: calc(38.14% - 44px);
  height: 115px;
  position: absolute;
  right: calc(28.22% - 55px);
  width: 194px;
}

.plzabfragen .plzpruefeninput-iszxKx {
  background-color: var(--bright-yellow);
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plzabfragen .prfen-iszxKx {
  background-color: transparent;
  bottom: calc(44.94% - 16px);
  height: 36px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(48.54% - 44px);
  text-align: left;
  white-space: nowrap;
  width: 91px;
}

.plzabfragen .plzinputfeld-INuN8Y {
  background-color: transparent;
  bottom: calc(39.40% - 10px);
  height: 25px;
  left: calc(46.76% - 62px);
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.43;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 132px;
}
/* screen - plzabfragen-375 */

.plzabfragen-375 {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 1537px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.plzabfragen-375 .solar-energy-ge5248679e_1920-tybMVq {
  background-color: transparent;
  height: calc(100.00% - 50px);
  left: 0px;
  object-fit: cover;
  position: fixed;
  top: 50px;
  width: 100%;
}

.plzabfragen-375 .erstellen-sie-sich-e-tybMVq {
  background-color: transparent;
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 46px;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0.86;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 172px;
  width: calc(100.00% - 80px);
}

.plzabfragen-375 .kostenlos-unverbindlich-tybMVq {
  -webkit-text-stroke: 0.30000001192092896px var(--hunter-green);
  background-color: transparent;
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 46px;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: 232px;
  width: calc(100.00% - 80px);
}

.plzabfragen-375 .jetzt-unabhngig-von-tybMVq {
  background-color: transparent;
  color: var(--black);
  display: block;
  font-family: var(--font-family-ligurino);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 53px;
  letter-spacing: 0.00px;
  line-height: 28px;
  opacity: 0;
  position: absolute;
  right: calc(47.69% - 148px);
  text-align: center;
  top: calc(6.03% - 3px);
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 310px;
}

.plzabfragen-375 .span0-esmtx2 {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen-375 .span1-esmtx2 {
  color: var(--fun-green);
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen-375 .span2-esmtx2 {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen-375 .jetzt-unabhngig-von-tybMVq.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.80s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plzabfragen-375 .gruppe-5-tybMVq {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.plzabfragen-375 .rechteck-8-WhXH9F {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plzabfragen-375 .logo-WhXH9F {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 18px);
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 51px;
}

.plzabfragen-375 .funnel-placeholder-tybMVq {
  background-color: transparent;
  height: 857px;
  left: 10px;
  position: absolute;
  top: calc(44.63% - 383px);
  width: calc(100.00% - 19px);
}

.plzabfragen-375 .funnel-placeholder-eyvBiF {
  background-color: transparent;
  height: 857px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 429px);
  width: 100%;
}

.plzabfragen-375 .wo-soll-die-photovol-tybMVq {
  background-color: transparent;
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: -242px;
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: calc(22.51% - 9px);
  white-space: nowrap;
  width: calc(100.00% + 487px);
}

.plzabfragen-375 .x761384_germany30-tybMVq {
  background-color: transparent;
  height: 238px;
  left: calc(50.00% - 84px);
  object-fit: cover;
  position: absolute;
  top: calc(33.03% - 79px);
  width: 169px;
}

.plzabfragen-375 .prfen-sie-sofort-ob-tybMVq {
  background-color: transparent;
  bottom: calc(46.03% - 18px);
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 39px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 115px);
}

.plzabfragen-375 .gruppe-1754-tybMVq {
  background-color: transparent;
  bottom: calc(40.01% - 38px);
  height: 95px;
  left: 29px;
  position: absolute;
  width: calc(100.00% - 58px);
}

.plzabfragen-375 .preufeninputfeld-o775r3 {
  background-color: transparent;
  bottom: 0px;
  height: 95px;
  position: absolute;
  right: 0px;
  width: 29.87%;
}

.plzabfragen-375 .rechteck-240-WxsAnv {
  background-color: var(--bright-yellow);
  border-radius: 0px 10px 10px 0px;
  bottom: 0px;
  height: 95px;
  position: absolute;
  right: 0px;
  width: 100%;
}

.plzabfragen-375 .prfen-WxsAnv {
  background-color: transparent;
  bottom: 40px;
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: 26px;
  text-align: center;
  white-space: nowrap;
  width: 42.22%;
}

.plzabfragen-375 .rechteck-240-o775r3 {
  background-color: var(--cararra);
  border-radius: 10px 0px 0px 10px;
  height: 95px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 47px);
  width: calc(100.00% - 95px);
}

.plzabfragen-375 .plzinputfeld-o775r3 {
  background-color: transparent;
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 22px;
  left: calc(23.41% - 27px);
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.43;
  position: absolute;
  text-align: center;
  top: calc(41.77% - 9px);
  white-space: nowrap;
  width: 116px;
}

.plzabfragen-375 .gruppe-1468-tybMVq {
  background-color: transparent;
  bottom: 0px;
  height: 109px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.plzabfragen-375 .rechteck-21-vN8YXf {
  background-color: #bedcce;
  border: 0.30000001192092896px solid;
  border-color: #cecece;
  display: block;
  height: 109px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: calc(50.00% - 54px);
  width: 100%;
}

.plzabfragen-375 .rechteck-21-vN8YXf.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .gruppe-1454-vN8YXf {
  background-color: transparent;
  bottom: calc(5.91% - 1px);
  height: 16px;
  position: absolute;
  right: calc(4.66% - 10px);
  width: 225px;
}

.plzabfragen-375 .impressum-kQGmax {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.plzabfragen-375 .impressum-kQGmax.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .impressum-kQGmax:hover {
  filter: grayscale(100%);
}

.plzabfragen-375 .datenschutz-kQGmax {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -1px;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.plzabfragen-375 .datenschutz-kQGmax.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .datenschutz-kQGmax:hover {
  filter: grayscale(100%);
}

.plzabfragen-375 .x-kQGmax {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% + 1px);
  left: calc(46.70% - 5px);
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 10px;
}

.plzabfragen-375 .x-kQGmax.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .gruppe-1462-vN8YXf {
  background-color: transparent;
  height: 35px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: calc(34.46% - 12px);
  width: 336px;
}

.plzabfragen-375 .shs-montage-express-gmb-h-BqEEUM {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(45.74% - 79px);
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 172px;
}

.plzabfragen-375 .shs-montage-express-gmb-h-BqEEUM.bp1-animate-enter5 {
  animation: bp1-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .dachmontage-elektrik-BqEEUM {
  background-color: transparent;
  bottom: 0px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-helvetica-regular);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.plzabfragen-375 .dachmontage-elektrik-BqEEUM.bp1-animate-enter6 {
  animation: bp1-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .c-BqEEUM {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: calc(24.00% - 1px);
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -3px;
  white-space: nowrap;
  width: 6px;
}

.plzabfragen-375 .c-BqEEUM.bp1-animate-enter7 {
  animation: bp1-animate-enter7-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-375 .ellipse-12-BqEEUM {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 4.86px/5px;
  display: block;
  height: 10px;
  left: calc(23.46% - 2px);
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 10px;
}

.plzabfragen-375 .ellipse-12-BqEEUM.bp1-animate-enter8 {
  animation: bp1-animate-enter8-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}
/* screen - plzabfragen-767 */

.plzabfragen-767 {
  background-color: var(--cararra);
  height: 100vh;
  margin: 0px;
  min-height: 1350px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.plzabfragen-767 .solar-energy-ge5248679e_1920-nUlger {
  background-color: transparent;
  height: calc(100.00% - 60px);
  left: 0px;
  object-fit: cover;
  position: fixed;
  top: 60px;
  width: 100%;
}

.plzabfragen-767 .erstellen-sie-sich-e-nUlger {
  background-color: transparent;
  color: var(--hunter-green);
  font-family: var(--font-family-applebraille-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 73px;
  left: 107px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: calc(17.66% - 13px);
  width: calc(100.00% - 211px);
}

.plzabfragen-767 .jetzt-unabhngig-von-nUlger {
  background-color: transparent;
  color: var(--black);
  display: block;
  font-family: var(--font-family-ligurino);
  font-size: 27px;
  font-weight: 700;
  height: 33px;
  letter-spacing: 0.00px;
  line-height: 88px;
  opacity: 0;
  position: absolute;
  right: calc(46.67% - 344px);
  text-align: left;
  top: calc(10.90% - 4px);
  transform: translate(0, 25px);
  white-space: nowrap;
  width: 737px;
}

.plzabfragen-767 .span0-xxSSID {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen-767 .span1-xxSSID {
  color: var(--fun-green);
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen-767 .span2-xxSSID {
  font-family: var(--font-family-ligurino-bold);
  font-style: normal;
}

.plzabfragen-767 .jetzt-unabhngig-von-nUlger.bp2-animate-enter {
  animation: bp2-animate-enter-frames 0.80s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.plzabfragen-767 .gruppe-5-nUlger {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.plzabfragen-767 .rechteck-8-nfUSms {
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.plzabfragen-767 .logo-nfUSms {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 12px);
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 78px;
}

.plzabfragen-767 .funnel-placeholder-nUlger {
  background-color: transparent;
  bottom: calc(41.80% - 330px);
  height: 790px;
  left: 35px;
  position: absolute;
  width: calc(100.00% - 69px);
}

.plzabfragen-767 .funnel-placeholder-xvrWjV {
  background-color: transparent;
  height: 790px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 395px);
  width: 100%;
}

.plzabfragen-767 .wo-soll-die-photovol-nUlger {
  background-color: transparent;
  height: 40px;
  left: -35px;
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.86;
  position: absolute;
  text-align: center;
  top: calc(31.91% - 13px);
  white-space: nowrap;
  width: calc(100.00% + 73px);
}

.plzabfragen-767 .x761384_germany30-nUlger {
  background-color: transparent;
  height: 238px;
  left: calc(50.00% - 84px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 119px);
  width: 169px;
}

.plzabfragen-767 .prfen-sie-sofort-ob-nUlger {
  background-color: transparent;
  bottom: calc(33.16% - 10px);
  height: 29px;
  left: calc(38.73% - 235px);
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 606px;
}

.plzabfragen-767 .pfad-775-nUlger {
  background-color: transparent;
  bottom: 0px;
  height: 109px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.plzabfragen-767 .gruppe-1454-nUlger {
  background-color: transparent;
  bottom: calc(1.05% - 1px);
  height: 60px;
  position: absolute;
  right: calc(35.19% - 256px);
  width: 728px;
}

.plzabfragen-767 .shs-montage-express-TskxQ2 {
  background-color: transparent;
  display: block;
  height: 18px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% - 51px);
}

.plzabfragen-767 .shs-montage-express-TskxQ2.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-767 .impressum-TskxQ2 {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(21.52% - 19px);
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 87px;
}

.plzabfragen-767 .impressum-TskxQ2.bp2-animate-enter2 {
  animation: bp2-animate-enter2-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-767 .impressum-TskxQ2:hover {
  filter: grayscale(100%);
}

.plzabfragen-767 .datenschutz-TskxQ2 {
  background-color: transparent;
  bottom: -1px;
  cursor: pointer;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  transition: all 1.5s ease-out;
  white-space: nowrap;
  width: 105px;
}

.plzabfragen-767 .datenschutz-TskxQ2.bp2-animate-enter3 {
  animation: bp2-animate-enter3-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-767 .datenschutz-TskxQ2:hover {
  filter: grayscale(100%);
}

.plzabfragen-767 .x-TskxQ2 {
  background-color: transparent;
  bottom: 0px;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  right: 121px;
  text-align: left;
  white-space: nowrap;
  width: 10px;
}

.plzabfragen-767 .x-TskxQ2.bp2-animate-enter4 {
  animation: bp2-animate-enter4-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-767 .c-TskxQ2 {
  background-color: transparent;
  color: var(--woodsmoke);
  display: block;
  font-family: var(--font-family-applebraille-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  height: 10px;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 16px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -2px;
  white-space: nowrap;
  width: 6px;
}

.plzabfragen-767 .c-TskxQ2.bp2-animate-enter5 {
  animation: bp2-animate-enter5-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-767 .ellipse-12-TskxQ2 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--woodsmoke);
  border-radius: 4.86px/5px;
  display: block;
  height: 10px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 10px;
}

.plzabfragen-767 .ellipse-12-TskxQ2.bp2-animate-enter6 {
  animation: bp2-animate-enter6-frames 1.00s ease 0.30s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.plzabfragen-767 .gruppe-1757-nUlger {
  background-color: transparent;
  bottom: calc(23.64% - 27px);
  height: 115px;
  left: calc(47.01% - 301px);
  position: absolute;
  width: 639px;
}

.plzabfragen-767 .gruppe-1755-QV0hOk {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 58px);
  width: calc(100.00% - 184px);
}

.plzabfragen-767 .gruppe-1753-AUBb1z {
  background-color: transparent;
  height: 115px;
  left: calc(50.00% - 228px);
  position: relative;
  top: calc(50.00% - 58px);
  width: 455px;
}

.plzabfragen-767 .xxx-qfnukI {
  background-color: var(--cararra);
  border-radius: 0px 10px 10px 0px;
  height: 115px;
  left: calc(50.00% - 228px);
  position: absolute;
  top: calc(50.00% - 58px);
  width: 455px;
}

.plzabfragen-767 .plzinputfeld-qfnukI {
  background-color: transparent;
  height: 25px;
  left: calc(17.45% - 23px);
  letter-spacing: 0.00px;
  line-height: 37px;
  opacity: 0.43;
  position: absolute;
  text-align: center;
  top: calc(43.33% - 11px);
  white-space: nowrap;
  width: 132px;
}

.plzabfragen-767 .preufeninputfeld-QV0hOk {
  background-color: transparent;
  height: 115px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 58px);
  width: 194px;
}

.plzabfragen-767 .xxx-ATFe2K {
  background-color: var(--bright-yellow);
  border-radius: 0px 10px 10px 0px;
  height: 115px;
  left: calc(50.00% - 97px);
  position: absolute;
  top: calc(50.00% - 58px);
  width: 194px;
}

.plzabfragen-767 .prfen-ATFe2K {
  background-color: transparent;
  bottom: calc(44.94% - 16px);
  height: 36px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  right: calc(47.44% - 43px);
  text-align: left;
  white-space: nowrap;
  width: 91px;
}
@media screen and (max-width: 766px) {
  .screen.plzabfragen { 
    display: none;
   }
  .screen.full-project { 
    display: none;
   }
  .screen.plzabfragen-767 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.plzabfragen { 
    display: none;
   }
  .screen.full-project { 
    display: none;
   }
  .screen.plzabfragen-375 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .screen.plzabfragen { 
    display: none;
   }
  .screen.plzabfragen-767 { 
    display: none;
   }
  .screen.plzabfragen-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.full-project { 
    display: none;
   }
  .screen.plzabfragen-767 { 
    display: none;
   }
  .screen.plzabfragen-375 { 
    display: none;
   }
}