.absolute {position: absolute;}
.action {background: #e8a435; color: #333; display: flex; justify-content: center; align-items: center; padding: 13px 0; border-radius: 13px; cursor: pointer; margin: 21px 34px;}
.action:hover {outline: 2px solid #999; border: 1px solid black;}
.align {align-items: center;}
.align-start {align-self: start;}
.align-end {align-self: end;}
.align-center {align-self: center;}
.align-stretch {align-self: stretch;}
.align-baseline {align-self: baseline;}
.align-auto {align-self: auto;}
.around {justify-content: space-around;}

.back {background-color: #333; border: 0.3px solid #2E4369; box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13);}
.between {justify-content: space-between;}
.bga {background: rgba(0, 0, 0, 0.8);}
.bg-dark {background-color: #333;}
.bg-gray {background-color: #999;}
.bg-green {background-color: rgb(0, 111, 58);}
.bg-red {background-color: #B03535;}
.bg-light {background-color: #CDD9E5;}
.bg-sunflower {background-color: #EFA514;}
.bg-orange {background-color: #E8A435;}
.bg-success {background-color: #9FCB8D;}
.bg-yellow {background-color: #EED202;}
.bg-theme {background-color: #CDD9E5;}
.block {display: block;}
.border-dark {border: 0.3px solid #2E4369;}
.border-light {border: 0.3px solid #A0A0A0;}
.border-purple {border: 0.3px solid #df73ff;}
.border-theme {border: 0.3px solid #A0A0A0;}
.bottom {bottom: 0;}
.bottom1 {bottom: 1px;}
.bottom2 {bottom: 2px;}
.bottom3 {bottom: 3px;}
.bottom5 {bottom: 5px;}
.bottom8 {bottom: 8px;}
.bottom13 {bottom: 13px;}
.bottom21 {bottom: 21px;}
.bottom34 {bottom: 34px;}
.bottom55 {bottom: 55px;}
.bottom89 {bottom: 89px;}
.bottom144 {bottom: 144px;}
.bottom233 {bottom: 233px;}
.bottom377 {bottom: 377px;}
.bottom610 {bottom: 610px;}
.bottom987 {bottom: 987px;}
.bottom-1 {bottom: -1px;}
.bottom-2 {bottom: -2px;}
.bottom-3 {bottom: -3px;}
.bottom-5 {bottom: -5px;}
.bottom-8 {bottom: -8px;}
.bottom-13 {bottom: -13px;}
.bottom-21 {bottom: -21px;}
.bottom-34 {bottom: -34px;}
.bottom-55 {bottom: -55px;}
.bottom-89 {bottom: -89px;}
.bottom-144 {bottom: -144px;}
.bottom-233 {bottom: -233px;}
.bottom-377 {bottom: -377px;}
.bottom-610 {bottom: -610px;}
.bottom-987 {bottom: -987px;}
.bottom-center {bottom: 0;left: 45%;}
.bottom-left {width: 144px; height: 144px; position: fixed; bottom: 21px; left: 21px; border-radius: 50%; overflow: hidden;}
.bounce {animation: bounce 2s ease-in-out infinite;}
.box {background-color: #CDD9E5; color: #333; border: 0.3px solid #A0A0A0; border-radius: 8px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); padding: 8px;}
@media (prefers-color-scheme: dark) {
  .box {background-color: #222; color: #ddd; border: 0.3px solid #2E4369; border-radius: 8px; box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13); padding: 8px;}
}
.br3 {border-radius: 3px;}
.br5 {border-radius: 5px;}
.br8 {border-radius: 8px;}
.br13 {border-radius: 13px;}
.br21 {border-radius: 21px;}
.br34 {border-radius: 34px;}
.br50p {border-radius: 50%;}
.br55 {border-radius: 55px;}
.br-br3 {border-bottom-right-radius: 3px;}
.br-br5 {border-bottom-right-radius: 5px;}
.br-br8 {border-bottom-right-radius: 8px;}
.br-br13 {border-bottom-right-radius: 13px;}
.br-br21 {border-bottom-right-radius: 21px;}
.br-br34 {border-bottom-right-radius: 34px;}
.br-br50p {border-bottom-right-radius: 50%;}
.br-br55 {border-bottom-right-radius: 55px;}
.br-bl3 {border-bottom-left-radius: 3px;}
.br-bl5 {border-bottom-left-radius: 5px;}
.br-bl8 {border-bottom-left-radius: 8px;}
.br-bl13 {border-bottom-left-radius: 13px;}
.br-bl21 {border-bottom-left-radius: 21px;}
.br-bl34 {border-bottom-left-radius: 34px;}
.br-bl50p {border-bottom-left-radius: 50%;}
.br-bl55 {border-bottom-left-radius: 55px;}
.br-bl-br3 {border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
.br-bl-br5 {border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.br-bl-br8 {border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.br-bl-br13 {border-bottom-left-radius: 13px; border-bottom-right-radius: 13px;}
.br-bl-br21 {border-bottom-left-radius: 21px; border-bottom-right-radius: 21px;}
.br-bl-br34 {border-bottom-left-radius: 34px; border-bottom-right-radius: 34px;}
.br-bl-br50p {border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;}
.br-bl-br55 {border-bottom-left-radius: 55px; border-bottom-right-radius: 55px;}
.br-tl3 {border-top-left-radius: 3px;}
.br-tl5 {border-top-left-radius: 5px;}
.br-tl8 {border-top-left-radius: 8px;}
.br-tl13 {border-top-left-radius: 13px;}
.br-tl21 {border-top-left-radius: 21px;}
.br-tl34 {border-top-left-radius: 34px;}
.br-tl50p {border-top-left-radius: 50%;}
.br-tl55 {border-top-left-radius: 55px;}
.br-tl-bl3 {border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
.br-tl-bl5 {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.br-tl-bl8 {border-top-left-radius: 8px; border-bottom-left-radius: 8px;}
.br-tl-bl13 {border-top-left-radius: 13px; border-bottom-left-radius: 13px;}
.br-tl-bl21 {border-top-left-radius: 21px; border-bottom-left-radius: 21px;}
.br-tl-bl34 {border-top-left-radius: 34px; border-bottom-left-radius: 34px;}
.br-tl-bl50p {border-top-left-radius: 50%; border-bottom-left-radius: 50%;}
.br-tl-bl55 {border-top-left-radius: 55px; border-bottom-left-radius: 55px;}
.br-tl-tr3 {border-top-left-radius: 3px; border-top-right-radius: 3px;}
.br-tl-tr5 {border-top-left-radius: 5px; border-top-right-radius: 5px;}
.br-tl-tr8 {border-top-left-radius: 8px; border-top-right-radius: 8px;}
.br-tl-tr13 {border-top-left-radius: 13px; border-top-right-radius: 13px;}
.br-tl-tr21 {border-top-left-radius: 21px; border-top-right-radius: 21px;}
.br-tl-tr34 {border-top-left-radius: 34px; border-top-right-radius: 34px;}
.br-tl-tr50p {border-top-left-radius: 50%; border-top-right-radius: 50%;}
.br-tl-tr55 {border-top-left-radius: 55px; border-top-right-radius: 55px;}
.br-tl-tr-bl3 {border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px;}
.br-tl-tr-bl5 {border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px;}
.br-tl-tr-bl8 {border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 8px;}
.br-tl-tr-bl13 {border-top-left-radius: 13px; border-top-right-radius: 13px; border-bottom-left-radius: 13px;}
.br-tl-tr-bl21 {border-top-left-radius: 21px; border-top-right-radius: 21px; border-bottom-left-radius: 21px;}
.br-tl-tr-bl34 {border-top-left-radius: 34px; border-top-right-radius: 34px; border-bottom-left-radius: 34px;}
.br-tl-tr-bl50p {border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-left-radius: 50%;}
.br-tl-tr-bl55 {border-top-left-radius: 55px; border-top-right-radius: 55px; border-bottom-left-radius: 55px;}
.br-tl-br-bl3 {border-top-left-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
.br-tl-br-bl5 {border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.br-tl-br-bl8 {border-top-left-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;}
.br-tl-br-bl13 {border-top-left-radius: 13px; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px;}
.br-tl-br-bl21 {border-top-left-radius: 21px; border-bottom-right-radius: 21px; border-bottom-left-radius: 21px;}
.br-tl-br-bl34 {border-top-left-radius: 34px; border-bottom-right-radius: 34px; border-bottom-left-radius: 34px;}
.br-tl-br-bl50p {border-top-left-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;}
.br-tl-br-bl55 {border-top-left-radius: 55px; border-bottom-right-radius: 55px; border-bottom-left-radius: 55px;}
.br-tr-br-bl3 {border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
.br-tr-br-bl5 {border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.br-tr-br-bl8 {border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;}
.br-tr-br-bl13 {border-top-right-radius: 13px; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px;}
.br-tr-br-bl21 {border-top-right-radius: 21px; border-bottom-right-radius: 21px; border-bottom-left-radius: 21px;}
.br-tr-br-bl34 {border-top-right-radius: 34px; border-bottom-right-radius: 34px; border-bottom-left-radius: 34px;}
.br-tr-br-bl50p {border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;}
.br-tr-br-bl55 {border-top-right-radius: 55px; border-bottom-right-radius: 55px; border-bottom-left-radius: 55px;}
.br-tr3 {border-top-right-radius: 3px;}
.br-tr5 {border-top-right-radius: 5px;}
.br-tr8 {border-top-right-radius: 8px;}
.br-tr13 {border-top-right-radius: 13px;}
.br-tr21 {border-top-right-radius: 21px;}
.br-tr34 {border-top-right-radius: 34px;}
.br-tr50p {border-top-right-radius: 50%;}
.br-tr55 {border-top-right-radius: 55px;}
.br-tr-br3 {border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
.br-tr-br5 {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.br-tr-br8 {border-top-right-radius: 8px; border-bottom-right-radius: 8px;}
.br-tr-br13 {border-top-right-radius: 13px; border-bottom-right-radius: 13px;}
.br-tr-br21 {border-top-right-radius: 21px; border-bottom-right-radius: 21px;}
.br-tr-br34 {border-top-right-radius: 34px; border-bottom-right-radius: 34px;}
.br-tr-br50p {border-top-right-radius: 50%; border-bottom-right-radius: 50%;}
.br-tr-br55 {border-top-right-radius: 55px; border-bottom-right-radius: 55px;}
.break-all {word-break: break-all;}
.break-normal {word-break: normal;}
.break-word {word-break: break-word;}
.bs-dark {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13);}
.bs-light {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);}
.bs-theme {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);}
.btn-dark {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13); border: 0.3px solid #2E4369; background-color: #333;}
.btn-light {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); border: 0.3px solid #A0A0A0; background-color: #CDD9E5;}
.btn-nok {border-radius: 8px; display: flex; justify-content: center; align-items: center; padding: 8px; background-color: red;}
.btn-ok {border-radius: 8px; display: flex; justify-content: center; align-items: center; padding: 8px; background-color: green;}
.btn-reverse {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13); border: 0.3px solid #2E4369; background-color: #333;}
.btn-theme {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); border: 0.3px solid #A0A0A0; background-color: #CDD9E5;}
.btn-theme-reverse {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13); border: 0.3px solid #2E4369; background-color: #333;}

.center {justify-content: center;}
.circle {width: 100px; height: 100px; border-radius: 50%;}
.circle-green {width: 21px; height: 21px; border-radius: 50%; background-color: green;}
.circle-gray {width: 21px; height: 21px; border-radius: 50%; background-color: gray;}
.color-dark {color: #CDD9E5;}
.color-error {color: #B03535;}
.color-gray {color: #999;}
.color-green {color: rgb(0, 111, 58);}
.color-key {color: #2e95d3;}
.color-light {color: #333;}
.color-theme {color: #333;}
.color-value {color: #ce9178;}
.color-orange {color: #E8A435;}
.color-purple {color: #df73ff;}
.column {flex-direction: column;}

.dark {background-color: #333; color: #CDD9E5;}
.dark-bg {background-color: #222;}
.dark-light {background-color: #CDD9E5; color: #333;}
.dark-light-reverse {background-color: #333; color: #CDD9E5;}
.dark-link {color: #D46A6A;}
.dark-stroke {stroke: #333;}
.dark-text {color: #333;}
.dark-border {border: 0.3px solid #2E4369;}
.dark-bs {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13);}
.fade-up {animation: fade-up 0.233s ease-in-out forwards;}
.field {position: relative; margin: 21px 34px; background: #222; border-radius: 13px; padding: 8px;}
.field-dark {position: relative; margin: 21px 34px; background: #222; border-radius: 13px; padding: 8px; border: 0.3px solid #ddd; color: #ddd;}
.field input {width: 89%; margin: 8px 0;}
.fill-error {fill: #B03535;}
.fixed {position: fixed;}
.flex {display: flex;}
.flex1 {flex: 1;}
.flex-end {align-self: flex-end;}
.flex-row {display: flex; flex-wrap: wrap; margin-left: 34px; margin-right: 34px;}
.flex-start {align-self: flex-start;}
.fs3 {font-size: 3px;}
.fs5 {font-size: 5px;}
.fs8 {font-size: 8px;}
.fs13 {font-size: 13px;}
.fs21 {font-size: 21px;}
.fs34 {font-size: 34px;}
.fs55 {font-size: 55px;}
.fs89 {font-size: 89px;}
.fs-xs {font-size: 0.75rem;}
.fs-sm {font-size: 0.875rem;}
.fs {font-size: 1rem;}
.fs-lg {font-size: 1.25rem;}
.fs-xl {font-size: 1.5rem;}
.fs-responsive {font-size: 21px;}
.fullscreen {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;}
.fw-bold {font-weight: bold;}
.fw-normal {font-weight: normal;}

.h-auto {height: auto;}
.h3 {height: 3px;}
.h5 {height: 5px;}
.h8 {height: 8px;}
.h13 {height: 13px;}
.h21 {height: 21px;}
.h34 {height: 34px;}
.h55 {height: 55px;}
.h89 {height: 89px;}
.h144 {height: 144px;}
.h233 {height: 233px;}
.h377 {height: 377px;}
.h610 {height: 610px;}
.h987 {height: 987px;}
.h3p {height: 3%;}
.h5p {height: 5%;}
.h8p {height: 8%;}
.h13p {height: 13%;}
.h21p {height: 21%;}
.h34p {height: 34%;}
.h55p {height: 55%;}
.h89p {height: 89%;}
.h100p {height: 100%;}
.hidden {visibility: hidden;}
.highlight {background-color: yellow; font-weight: bold; color: #333;}

.image {width: 100%;}
.inline {display: inline;}
.inline-block {display: inline-block;}

.justify-start {justify-self: start;}
.justify-end {justify-self: end;}
.justify-center {justify-self: center;}
.justify-stretch {justify-self: stretch;}
.justify-baseline {justify-self: baseline;}
.justify-auto {justify-self: auto;}

.left {left: 0;}
.left1 {left: 1px;}
.left2 {left: 2px;}
.left3 {left: 3px;}
.left5 {left: 5px;}
.left8 {left: 8px;}
.left13 {left: 13px;}
.left21 {left: 21px;}
.left34 {left: 34px;}
.left55 {left: 55px;}
.left89 {left: 89px;}
.left144 {left: 144px;}
.left233 {left: 233px;}
.left377 {left: 377px;}
.left610 {left: 610px;}
.left987 {left: 987px;}
.left-1 {left: -1px;}
.left-2 {left: -2px;}
.left-3 {left: -3px;}
.left-5 {left: -5px;}
.left-8 {left: -8px;}
.left-13 {left: -13px;}
.left-21 {left: -21px;}
.left-34 {left: -34px;}
.left-55 {left: -55px;}
.left-89 {left: -89px;}
.left-144 {left: -144px;}
.left-233 {left: -233px;}
.left-377 {left: -377px;}
.left-610 {left: -610px;}
.left-987 {left: -987px;}
.left3p {left: 3%;}
.left5p {left: 5%;}
.left8p {left: 8%;}
.left13p {left: 13%;}
.left21p {left: 21%;}
.left34p {left: 34%;}
.left45p {left: 45%;}
.left50p {left: 50%;}
.left55p {left: 55%;}
.left89p {left: 89%;}
.light {background-color: #CDD9E5; color: #333;}
.light-link {color: #4169E1;}
.light-stroke {stroke: #CDD9E5;}
.light-text {color: #CDD9E5;}
.link-theme {color: #2e95d3;}

.m0 {margin: 0;}
.m1 {margin: 1px;}
.m2 {margin: 2px;}
.m3 {margin: 3px;}
.m5 {margin: 5px;}
.m8 {margin: 8px;}
.m13 {margin: 13px;}
.m21 {margin: 21px;}
.m34 {margin: 34px;}
.m55 {margin: 55px;}
.m89 {margin: 89px;}
.m144 {margin: 144px;}
.m233 {margin: 233px;}
.m377 {margin: 377px;}
.m610 {margin: 610px;}
.m987 {margin: 987px;}
.max-h1 {max-height: 1px;}
.max-h2 {max-height: 2px;}
.max-h3 {max-height: 3px;}
.max-h5 {max-height: 5px;}
.max-h8 {max-height: 8px;}
.max-h13 {max-height: 13px;}
.max-h21 {max-height: 21px;}
.max-h34 {max-height: 34px;}
.max-h55 {max-height: 55px;}
.max-h89 {max-height: 89px;}
.max-vh1 {max-height: 1vh;}
.max-vh2 {max-height: 2vh;}
.max-vh3 {max-height: 3vh;}
.max-vh5 {max-height: 5vh;}
.max-vh8 {max-height: 8vh;}
.max-vh13 {max-height: 13vh;}
.max-vh21 {max-height: 21vh;}
.max-vh34 {max-height: 34vh;}
.max-vh55 {max-height: 55vh;}
.max-vh89 {max-height: 89vh;}
.max-w0 {max-width: 0;}
.max-w1 {max-width: 1px;}
.max-w2 {max-width: 2px;}
.max-w3 {max-width: 3px;}
.max-w5 {max-width: 5px;}
.max-w8 {max-width: 8px;}
.max-w13 {max-width: 13px;}
.max-w21 {max-width: 21px;}
.max-w34 {max-width: 34px;}
.max-w55 {max-width: 55px;}
.max-w89 {max-width: 89px;}
.max-w144 {max-width: 144px;}
.max-w233 {max-width: 233px;}
.max-w377 {max-width: 377px;}
.max-w610 {max-width: 610px;}
.max-w987 {max-width: 987px;}
.max-w3p {max-width: 3%;}
.max-w5p {max-width: 5%;}
.max-w8p {max-width: 8%;}
.max-w13p {max-width: 13%;}
.max-w21p {max-width: 21%;}
.max-w34p {max-width: 34%;}
.max-w55p {max-width: 55%;}
.max-w89p {max-width: 89%;}
.max-w100p {max-width: 100%;}
.mb0 {margin-bottom: 0;}
.mb1 {margin-bottom: 1px;}
.mb2 {margin-bottom: 2px;}
.mb3 {margin-bottom: 3px;}
.mb5 {margin-bottom: 5px;}
.mb8 {margin-bottom: 8px;}
.mb13 {margin-bottom: 13px;}
.mb21 {margin-bottom: 21px;}
.mb34 {margin-bottom: 34px;}
.mb55 {margin-bottom: 55px;}
.mb89 {margin-bottom: 89px;}
.mb144 {margin-bottom: 144px;}
.mb233 {margin-bottom: 233px;}
.mb377 {margin-bottom: 377px;}
.mb610 {margin-bottom: 610px;}
.mb987 {margin-bottom: 987px;}
.ml0 {margin-left: 0;}
.ml1 {margin-left: 1px;}
.ml2 {margin-left: 2px;}
.ml3 {margin-left: 3px;}
.ml5 {margin-left: 5px;}
.ml8 {margin-left: 8px;}
.ml13 {margin-left: 13px;}
.ml21 {margin-left: 21px;}
.ml34 {margin-left: 34px;}
.ml55 {margin-left: 55px;}
.ml89 {margin-left: 89px;}
.ml144 {margin-left: 144px;}
.ml233 {margin-left: 233px;}
.ml377 {margin-left: 377px;}
.ml610 {margin-left: 610px;}
.ml987 {margin-left: 987px;}
.ml3p {margin-left: 3%;}
.ml5p {margin-left: 5%;}
.ml8p {margin-left: 8%;}
.ml13p {margin-left: 13%;}
.ml21p {margin-left: 21%;}
.ml34p {margin-left: 34%;}
.ml55p {margin-left: 55%;}
.ml89p {margin-left: 89%;}
.mlr0 {margin-left: 0; margin-right: 0;}
.mlr1 {margin-left: 1px; margin-right: 1px;}
.mlr2 {margin-left: 2px; margin-right: 2px;}
.mlr3 {margin-left: 3px; margin-right: 3px;}
.mlr5 {margin-left: 5px; margin-right: 5px;}
.mlr8 {margin-left: 8px; margin-right: 8px;}
.mlr13 {margin-left: 13px; margin-right: 13px;}
.mlr21 {margin-left: 21px; margin-right: 21px;}
.mlr34 {margin-left: 34px; margin-right: 34px;}
.mlr55 {margin-left: 55px; margin-right: 55px;}
.mlr89 {margin-left: 89px; margin-right: 89px;}
.mlr144 {margin-left: 144px; margin-right: 144px;}
.mlr233 {margin-left: 233px; margin-right: 233px;}
.mlr377 {margin-left: 377px; margin-right: 377px;}
.mlr610 {margin-left: 610px; margin-right: 610px;}
.mlr987 {margin-left: 987px; margin-right: 987px;}
.monospace {font-family: monospace;}
.mr0 {margin-right: 0;}
.mr1 {margin-right: 1px;}
.mr2 {margin-right: 2px;}
.mr3 {margin-right: 3px;}
.mr5 {margin-right: 5px;}
.mr8 {margin-right: 8px;}
.mr13 {margin-right: 13px;}
.mr21 {margin-right: 21px;}
.mr34 {margin-right: 34px;}
.mr55 {margin-right: 55px;}
.mr89 {margin-right: 89px;}
.mr144 {margin-right: 144px;}
.mr233 {margin-right: 233px;}
.mr377 {margin-right: 377px;}
.mr610 {margin-right: 610px;}
.mr987 {margin-right: 987px;}
.mt0 {margin-top: 0;}
.mt1 {margin-top: 1px;}
.mt2 {margin-top: 2px;}
.mt3 {margin-top: 3px;}
.mt5 {margin-top: 5px;}
.mt8 {margin-top: 8px;}
.mt13 {margin-top: 13px;}
.mt21 {margin-top: 21px;}
.mt34 {margin-top: 34px;}
.mt55 {margin-top: 55px;}
.mt89 {margin-top: 89px;}
.mt144 {margin-top: 144px;}
.mt233 {margin-top: 233px;}
.mt377 {margin-top: 377px;}
.mt610 {margin-top: 610px;}
.mt987 {margin-top: 987px;}
.mtb0 {margin-top: 0; margin-bottom: 0;}
.mtb1 {margin-top: 1px; margin-bottom: 1px;}
.mtb2 {margin-top: 2px; margin-bottom: 2px;}
.mtb3 {margin-top: 3px; margin-bottom: 3px;}
.mtb5 {margin-top: 5px; margin-bottom: 5px;}
.mtb8 {margin-top: 8px; margin-bottom: 8px;}
.mtb13 {margin-top: 13px; margin-bottom: 13px;}
.mtb21 {margin-top: 21px; margin-bottom: 21px;}
.mtb34 {margin-top: 34px; margin-bottom: 34px;}
.mtb55 {margin-top: 55px; margin-bottom: 55px;}
.mtb89 {margin-top: 89px; margin-bottom: 89px;}
.mtb144 {margin-top: 144px; margin-bottom: 144px;}
.mtb233 {margin-top: 233px; margin-bottom: 233px;}
.mtb377 {margin-top: 377px; margin-bottom: 377px;}
.mtb610 {margin-top: 610px; margin-bottom: 610px;}
.mtb987 {margin-top: 987px; margin-bottom: 987px;}

.none {display: none;}
.nowrap {white-space: nowrap;}

.obj-contain {object-fit: contain;}
.obj-cover {object-fit: cover;}
.obj-fill {object-fit: fill;}
.obj-none {object-fit: none;}
.obj-scale-down {object-fit: scale-down;}
.of-auto {overflow: auto;}
.of-hidden {overflow: hidden;}
.of-none {overflow-x: hidden; overflow-y: hidden;}
.of-scroll {overflow: scroll;}
.of-visible {overflow: visible;}
.ofx {overflow-x: scroll; overflow-y: hidden;}
.ofx-auto {overflow-x: auto;}
.ofx-hidden {overflow-x: hidden;}
.ofx-visible {overflow-x: visible;}
.ofx-scroll {overflow-x: scroll;}
.ofy {overflow-x: hidden; overflow-y: scroll;}
.ofy-auto {overflow-y: auto;}
.ofy-hidden {overflow-y: hidden;}
.ofy-visible {overflow-y: visible;}
.ofy-scroll {overflow-y: scroll;}
.op0 {opacity: 0;}
.op1 {opacity: 1;}
.outline {outline: 3px solid #999;}
.overscroll-none {overscroll-behavior: none;}

.p0 {padding: 0;}
.p1 {padding: 1px;}
.p2 {padding: 2px;}
.p3 {padding: 3px;}
.p5 {padding: 5px;}
.p8 {padding: 8px;}
.p13 {padding: 13px;}
.p21 {padding: 21px;}
.p34 {padding: 34px;}
.p55 {padding: 55px;}
.p89 {padding: 89px;}
.p144 {padding: 144px;}
.p233 {padding: 233px;}
.p377 {padding: 377px;}
.p610 {padding: 610px;}
.p987 {padding: 987px;}
.pb0 {padding-bottom: 0;}
.pb1 {padding-bottom: 1px;}
.pb2 {padding-bottom: 2px;}
.pb3 {padding-bottom: 3px;}
.pb5 {padding-bottom: 5px;}
.pb8 {padding-bottom: 8px;}
.pb13 {padding-bottom: 13px;}
.pb21 {padding-bottom: 21px;}
.pb34 {padding-bottom: 34px;}
.pb55 {padding-bottom: 55px;}
.pb89 {padding-bottom: 89px;}
.pb144 {padding-bottom: 144px;}
.pb233 {padding-bottom: 233px;}
.pb377 {padding-bottom: 377px;}
.pb610 {padding-bottom: 610px;}
.pb987 {padding-bottom: 987px;}
.pl0 {padding-left: 0;}
.pl1 {padding-left: 1px;}
.pl2 {padding-left: 2px;}
.pl3 {padding-left: 3px;}
.pl5 {padding-left: 5px;}
.pl8 {padding-left: 8px;}
.pl13 {padding-left: 13px;}
.pl21 {padding-left: 21px;}
.pl34 {padding-left: 34px;}
.pl55 {padding-left: 55px;}
.pl89 {padding-left: 89px;}
.pl144 {padding-left: 144px;}
.pl233 {padding-left: 233px;}
.pl377 {padding-left: 377px;}
.pl610 {padding-left: 610px;}
.pl987 {padding-left: 987px;}
.plr0 {padding-left: 0; padding-right: 0;}
.plr1 {padding-left: 1px; padding-right: 1px;}
.plr2 {padding-left: 2px; padding-right: 2px;}
.plr3 {padding-left: 3px; padding-right: 3px;}
.plr5 {padding-left: 5px; padding-right: 5px;}
.plr8 {padding-left: 8px; padding-right: 8px;}
.plr13 {padding-left: 13px; padding-right: 13px;}
.plr21 {padding-left: 21px; padding-right: 21px;}
.plr34 {padding-left: 34px; padding-right: 34px;}
.plr55 {padding-left: 55px; padding-right: 55px;}
.plr89 {padding-left: 89px; padding-right: 89px;}
.plr144 {padding-left: 144px; padding-right: 144px;}
.plr233 {padding-left: 233px; padding-right: 233px;}
.plr377 {padding-left: 377px; padding-right: 377px;}
.plr610 {padding-left: 610px; padding-right: 610px;}
.plr987 {padding-left: 987px; padding-right: 987px;}
.pr0 {padding-right: 0;}
.pr1 {padding-right: 1px;}
.pr2 {padding-right: 2px;}
.pr3 {padding-right: 3px;}
.pr5 {padding-right: 5px;}
.pr8 {padding-right: 8px;}
.pr13 {padding-right: 13px;}
.pr21 {padding-right: 21px;}
.pr34 {padding-right: 34px;}
.pr55 {padding-right: 55px;}
.pr89 {padding-right: 89px;}
.pr144 {padding-right: 144px;}
.pr233 {padding-right: 233px;}
.pr377 {padding-right: 377px;}
.pr610 {padding-right: 610px;}
.pr987 {padding-right: 987px;}
.pre-wrap {white-space: pre-wrap;}
.pt0 {padding-top: 0;}
.pt1 {padding-top: 1px;}
.pt2 {padding-top: 2px;}
.pt3 {padding-top: 3px;}
.pt5 {padding-top: 5px;}
.pt8 {padding-top: 8px;}
.pt13 {padding-top: 13px;}
.pt21 {padding-top: 21px;}
.pt34 {padding-top: 34px;}
.pt55 {padding-top: 55px;}
.pt89 {padding-top: 89px;}
.pt144 {padding-top: 144px;}
.pt233 {padding-top: 233px;}
.pt377 {padding-top: 377px;}
.pt610 {padding-top: 610px;}
.pt987 {padding-top: 987px;}
.ptb0 {padding-top: 0; padding-bottom: 0;}
.ptb1 {padding-top: 1px; padding-bottom: 1px;}
.ptb2 {padding-top: 2px; padding-bottom: 2px;}
.ptb3 {padding-top: 3px; padding-bottom: 3px;}
.ptb5 {padding-top: 5px; padding-bottom: 5px;}
.ptb8 {padding-top: 8px; padding-bottom: 8px;}
.ptb13 {padding-top: 13px; padding-bottom: 13px;}
.ptb21 {padding-top: 21px; padding-bottom: 21px;}
.ptb34 {padding-top: 34px; padding-bottom: 34px;}
.ptb55 {padding-top: 55px; padding-bottom: 55px;}
.ptb89 {padding-top: 89px; padding-bottom: 89px;}
.ptb144 {padding-top: 144px; padding-bottom: 144px;}
.ptb233 {padding-top: 233px; padding-bottom: 233px;}
.ptb377 {padding-top: 377px; padding-bottom: 377px;}
.ptb610 {padding-top: 610px; padding-bottom: 610px;}
.ptb987 {padding-top: 987px; padding-bottom: 987px;}
.pulsate {animation: pulsate 3s ease-in-out infinite;}
.pointer {cursor: pointer;}

.relative {position: relative;}
.right {right: 0;}
.right1 {right: 1px;}
.right2 {right: 2px;}
.right3 {right: 3px;}
.right5 {right: 5px;}
.right8 {right: 8px;}
.right13 {right: 13px;}
.right21 {right: 21px;}
.right34 {right: 34px;}
.right55 {right: 55px;}
.right89 {right: 89px;}
.right144 {right: 144px;}
.right233 {right: 233px;}
.right377 {right: 377px;}
.right610 {right: 610px;}
.right987 {right: 987px;}
.right-1 {right: -1px;}
.right-2 {right: -2px;}
.right-3 {right: -3px;}
.right-5 {right: -5px;}
.right-8 {right: -8px;}
.right-13 {right: -13px;}
.right-21 {right: -21px;}
.right-34 {right: -34px;}
.right-55 {right: -55px;}
.right-89 {right: -89px;}
.right-144 {right: -144px;}
.right-233 {right: -233px;}
.right-377 {right: -377px;}
.right-610 {right: -610px;}
.right-987 {right: -987px;}
.ripple-out {position: relative; display: inline-block; padding: 10px; border: 2px solid currentColor; border-radius: 8px; animation: ripple-out 3s ease-in-out infinite;}

.sans-serif {font-family: sans-serif;}
.shrink {flex-shrink: 0;}
.start {justify-content: flex-start;}
.stroke-theme {stroke: #333;}
.stroke-theme-reverse {stroke: #CDD9E5;}

.td-u {text-decoration: underline;}
.td-lt {text-decoration: line-through;}
.td-o {text-decoration: overline;}
.td-n {text-decoration: none;}
.text-center {text-align: center;}
.to-bottom-left {transition: all 2s ease; width: 144px; height: 144px; position: fixed; bottom: 21px; left: 21px; border-radius: 50%; overflow: hidden;}
.to-bottom-left video {width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
.top {top: 0;}
.top1 {top: 1px;}
.top2 {top: 2px;}
.top3 {top: 3px;}
.top5 {top: 5px;}
.top8 {top: 8px;}
.top13 {top: 13px;}
.top21 {top: 21px;}
.top34 {top: 34px;}
.top55 {top: 55px;}
.top89 {top: 89px;}
.top144 {top: 144px;}
.top233 {top: 233px;}
.top377 {top: 377px;}
.top610 {top: 610px;}
.top987 {top: 987px;}
.top-1 {top: -1px;}
.top-2 {top: -2px;}
.top-3 {top: -3px;}
.top-5 {top: -5px;}
.top-8 {top: -8px;}
.top-13 {top: -13px;}
.top-21 {top: -21px;}
.top-34 {top: -34px;}
.top-55 {top: -55px;}
.top-89 {top: -89px;}
.top-144 {top: -144px;}
.top-233 {top: -233px;}
.top-377 {top: -377px;}
.top-610 {top: -610px;}
.top-987 {top: -987px;}
.translateX-50p {transform: translateX(-50%)}

.vh3 {height: 3vh;}
.vh5 {height: 5vh;}
.vh8 {height: 8vh;}
.vh13 {height: 13vh;}
.vh21 {height: 21vh;}
.vh34 {height: 34vh;}
.vh55 {height: 55vh;}
.vh89 {height: 89vh;}
.vh100 {height: 100vh;}
.vw3 {height: 3vw;}
.vw5 {height: 5vw;}
.vw8 {height: 8vw;}
.vw13 {height: 13vw;}
.vw21 {height: 21vw;}
.vw34 {height: 34vw;}
.vw55 {height: 55vw;}
.vw89 {height: 89vw;}
.vw100 {height: 100vw;}

.w3 {width: 3px;}
.w5 {width: 5px;}
.w8 {width: 8px;}
.w13 {width: 13px;}
.w21 {width: 21px;}
.w34 {width: 34px;}
.w55 {width: 55px;}
.w89 {width: 89px;}
.w144 {width: 144px;}
.w233 {width: 233px;}
.w377 {width: 377px;}
.w610 {width: 610px;}
.w987 {width: 987px;}
.w3p {width: 3%;}
.w5p {width: 5%;}
.w8p {width: 8%;}
.w13p {width: 13%;}
.w21p {width: 21%;}
.w34p {width: 34%;}
.w55p {width: 55%;}
.w89p {width: 89%;}
.w100p {width: 100%;}
.wrap {flex-wrap: wrap;}

.z-3 {z-index: -3;}
.z-2 {z-index: -2;}
.z-1 {z-index: -1;}
.z0 {z-index: 0;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}

@keyframes bounce {
  0% {transform: translateY(-21px);}
  50% {transform: translateY(8px);}
  100% {transform: translateY(-21px);}
}
.blur5 {filter: blur(5px);}
.blur {
  animation: blur 3s infinite;
  filter: blur(5px);
}
@keyframes blur {
  0% {
    transform: scale(1);
    filter: blur(5px); 
  }
  50% {
    transform: scale(1.1);
    filter: blur(3px);
  }
  100% {
    transform: scale(1);
    filter: blur(5px);
  }
}
@keyframes fade-up {
  0% {opacity: 0; transform: translateY(13px);}
  100% {opacity: 1; transform: translateY(0);}
}

@keyframes pulsate {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes ripple-out {
  0% {box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);}
  100% {box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);}
}

@media (prefers-color-scheme: dark) {
  .back {background-color: #CDD9E5; border: 0.3px solid #A0A0A0; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);}
  .bg-theme {background-color: #333;}
  .border-theme {border: 0.3px solid #2E4369;}
  .bs-theme {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13);}
  .btn-reverse {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); border: 0.3px solid #A0A0A0; background-color: #CDD9E5;}
  .btn-theme {box-shadow: 0 1px 3px rgba(255, 255, 255, 0.13); border: 0.3px solid #2E4369; background-color: #333;}
  .btn-theme-reverse {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); border: 0.3px solid #A0A0A0; background-color: #CDD9E5;}
  .color-theme {color: #CDD9E5;}
  .dark-light {background-color: #333; color: #CDD9E5;}
  .dark-light-reverse {background-color: #CDD9E5; color: #333;}
  .link-theme {color: #ce9178;}
  .stroke-theme {stroke: #CDD9E5;}
  .stroke-theme-reverse {stroke: #333;}
}

@media (min-width: 768px) {
  .fs-responsive { font-size: 23px; }
}

@media (min-width: 1024px) {
  .fs-responsive { font-size: 26px; }
}
