@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");



@font-face {
  font-family: "Helvetica-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaBd___-.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Helvetica Light.ttf") format("truetype");
}


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
