:root { 
  --alto: #dad8d8;
  --alto-2: #d9d9d9;
  --black: #000000;
  --bright-yellow: #f7aa20;
  --cararra: #ebebeb;
  --cararra-2: #ebebebe8;
  --celeste: #cecece;
  --cod-gray: #080808;
  --fun-green: #006f39;
  --fun-green-2: #01753d;
  --green: #16af65db;
  --green-haze: #0ea35b;
  --iron: #d8d8d8;
  --jacksons-purple: #22247e;
  --jewel: #15743c;
  --jewel-2: #15743b;
  --log-cabin: #241f20;
  --rangitoto: #2c2c23c7;
  --sea-mist: #bedcce;
  --sherwood-green: #0a5531;
  --white: #ffffff;
  --woodsmoke: #0d0d0c;
 
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 18px;
  --font-size-xs: 12px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 23px;
 
  --font-family-apple_braille: "Apple Braille", Helvetica;
  --font-family-applebraille-pinpoint8_dot: "AppleBraille-Pinpoint8 Dot", Helvetica;
  --font-family-applebraille-regular: "AppleBraille-Regular", Helvetica;
  --font-family-helvetica: "Helvetica", Helvetica;
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
  --font-family-ligurino: "Ligurino", Helvetica;
  --font-family-ligurino-bold: "ligurino", Helvetica;
  --font-family-ligurino-regular: "ligurino", Helvetica;
}
.ligurino-regular-normal-cod-gray-24px {
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-23px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-cararra-40px {
  color: var(--cararra);
  font-family: var(--font-family-ligurino-bold);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-cararra-18px {
  color: var(--cararra);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-15px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-14px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-12px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-green-haze-55px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.ligurino-regular-normal-rangitoto-20px {
  color: var(--rangitoto);
  font-family: var(--font-family-ligurino-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-regular-normal-cod-gray-18px {
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-green-haze-44px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-18px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.applebraille-regular-normal-woodsmoke-15px {
  color: var(--woodsmoke);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-cararra-55px {
  color: var(--cararra-2);
  font-family: var(--font-family-ligurino-bold);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.ligurino-bold-green-haze-35px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.applebraille-regular-normal-woodsmoke-23px {
  color: var(--woodsmoke);
  font-family: var(--font-family-applebraille-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-green-haze-40px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-regular-normal-cod-gray-20px {
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-green-haze-32px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.ligurino-bold-green-haze-23px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.ligurino-regular-normal-cod-gray-16px {
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-16px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.applebraille-regular-normal-woodsmoke-8px {
  color: var(--woodsmoke);
  font-family: var(--font-family-applebraille-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-cararra-12px {
  color: var(--cararra);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.ligurino-bold-green-haze-16px {
  color: var(--green-haze);
  font-family: var(--font-family-ligurino-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.ligurino-regular-normal-cod-gray-10px {
  color: var(--cod-gray);
  font-family: var(--font-family-ligurino-regular);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

:root {
}
