:root { 
  --alto: #dad8d8;
  --bright-yellow: #f7aa20;
  --cararra: #ebebeb;
  --cararra-2: #ebebebe8;
  --cod-gray: #080808;
  --fun-green: #01753d;
  --fun-green-2: #006f39;
  --green: #16af65db;
  --green-haze: #0ea35b;
  --jacksons-purple: #22247e;
  --jewel: #15743c;
  --jewel-2: #15743b;
  --log-cabin: #241f20;
  --sea-mist: #bedcce;
  --sherwood-green: #0a5531;
  --white: #ffffff;
  --woodsmoke: #0d0d0c;
 
  --font-size-l: 23px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xs: 16px;
  --font-size-xxs: 15px;
  --font-size-xxxs: 14px;
  --font-size-xxxxs: 12px;
 
  --font-family-helvetica: "Helvetica", Helvetica;
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
  --font-family-helvetica-light: "Helvetica-Light", Helvetica;
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
  --font-family-ligurino-regular: "Ligurino-Regular", Helvetica;
}
.helvetica-regular-normal-cod-gray-24px {
  color: var(--cod-gray);
  font-family: var(--font-family-helvetica-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-cararra-40px {
  color: var(--cararra);
  font-family: var(--font-family-helvetica-bold);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-cararra-18px {
  color: var(--cararra);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-15px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-14px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-green-haze-55px {
  color: var(--green-haze);
  font-family: var(--font-family-helvetica-bold);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-light-woodsmoke-18px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.helvetica-bold-cararra-55px {
  color: var(--cararra-2);
  font-family: var(--font-family-helvetica-bold);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-bold-green-haze-44px {
  color: var(--green-haze);
  font-family: var(--font-family-helvetica-bold);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-light-woodsmoke-20px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.helvetica-light-woodsmoke-15px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-light);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 300;
}

.helvetica-light-woodsmoke-12px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-light);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 300;
}

.helvetica-regular-normal-cod-gray-18px {
  color: var(--cod-gray);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.helvetica-regular-normal-woodsmoke-8px {
  color: var(--woodsmoke);
  font-family: var(--font-family-helvetica-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-green-haze-35px {
  color: var(--green-haze);
  font-family: var(--font-family-helvetica-bold);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.helvetica-regular-normal-cararra-12px {
  color: var(--cararra);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

:root {
}

@media screen and (min-width: 1920px) {
  .helvetica-regular-normal-woodsmoke-23px {
    color: var(--woodsmoke);
    font-family: var(--font-family-helvetica-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .helvetica-regular-normal-woodsmoke-16px {
    color: var(--woodsmoke);
    font-family: var(--font-family-helvetica-regular);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
  }
}
